@media (min-width: 1060px) {
  .topnav > ul {
    display: table;
  }
  .topnav > ul > li {
    display: table-cell;
  }
}

@media (min-width: 768px) {
  .news__row {
    display: block;
  }
  .news__col {
    float: left;
    display: block;
  }
}

/*# sourceMappingURL=ie.css.map */
