
@font-face {
	font-family:'PFBeauSansPro';
	src: url('../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light_gdi.eot');
	src: url('../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light_gdi.woff') format('woff'),
	url('../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light_gdi.ttf') format('truetype'),
	url('../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light_gdi.svg#PFBeauSansPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'PFBeauSansPro';
	src: url('../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.eot');
	src: url('../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.woff') format('woff'),
	url('../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.ttf') format('truetype'),
	url('../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.svg#PFBeauSansPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'PFBeauSansPro';
	src: url('../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold_gdi.eot');
	src: url('../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold_gdi.woff') format('woff'),
	url('../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold_gdi.ttf') format('truetype'),
	url('../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold_gdi.svg#PFBeauSansPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon/icomoon.eot?eox280');
	src: url('../fonts/icomoon/icomoon.eot?eox280#iefix') format('embedded-opentype'),
	url('../fonts/icomoon/icomoon.ttf?eox280') format('truetype'),
	url('../fonts/icomoon/icomoon.woff?eox280') format('woff'),
	url('../fonts/icomoon/icomoon.svg?eox280#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
