[class^='icon-'],
[class*=' icon-']
{
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;

	text-transform: none;

	speak: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close .path1:before
{
	content: '\e943';

	color: #86bbe6;
}

.icon-close .path2:before
{
	margin-left: -1em;

	content: '\e944';

	color: white;
}

.icon-close .path3:before
{
	margin-left: -1em;

	content: '\e945';

	color: white;
}

.icon-afff .path1:before
{
	content: '\e900';

	color: #0a5da8;
}

.icon-afff .path2:before
{
	margin-left: -1em;

	content: '\e901';

	color: #bddcf5;
}

.icon-afff .path3:before
{
	margin-left: -1em;

	content: '\e902';

	color: white;
}

.icon-afff .path4:before
{
	margin-left: -1em;

	content: '\e903';

	color: white;
}

.icon-afff .path5:before
{
	margin-left: -1em;

	content: '\e904';

	color: white;
}

.icon-afff .path6:before
{
	margin-left: -1em;

	content: '\e905';

	color: white;
}

.icon-afff_plus .path1:before
{
	content: '\e906';

	color: #066f89;
}

.icon-afff_plus .path2:before
{
	margin-left: -1em;

	content: '\e907';

	color: #91c2d6;
}

.icon-afff_plus .path3:before
{
	margin-left: -1em;

	content: '\e908';

	color: white;
}

.icon-afff_plus .path4:before
{
	margin-left: -1em;

	content: '\e909';

	color: white;
}

.icon-afff_plus .path5:before
{
	margin-left: -1em;

	content: '\e90a';

	color: white;
}

.icon-afff_plus .path6:before
{
	margin-left: -1em;

	content: '\e90b';

	color: white;
}

.icon-afff_plus .path7:before
{
	margin-left: -1em;

	content: '\e90c';

	color: white;
}

.icon-afff_plus .path8:before
{
	margin-left: -1em;

	content: '\e90d';

	color: white;
}

.icon-ar .path1:before
{
	content: '\e90e';

	color: #702381;
}

.icon-ar .path2:before
{
	margin-left: -1em;

	content: '\e90f';

	color: #d1c4e2;
}

.icon-ar .path3:before
{
	margin-left: -1em;

	content: '\e910';

	color: white;
}

.icon-ar .path4:before
{
	margin-left: -1em;

	content: '\e911';

	color: white;
}

.icon-arrow_slider .path1:before
{
	content: '\e912';

	opacity: .62;
	color: white;
}

.icon-arrow_slider .path2:before
{
	margin-left: -1em;

	content: '\e913';

	color: #0a5da8;
}

.icon-letter .path1:before
{
	content: '\e914';

	color: #86bbe6;
}

.icon-letter .path2:before {
//	margin-left: -1em;
	content: '\e915';
	color: #fafafa;
}

.icon-letter_white:before
{
	content: '\e916';

	color: #fff;
}

.icon-logo .path1:before
{
	content: '\e917';

	color: #005ca8;
}

.icon-logo .path2:before
{
	margin-left: -1.552734375em;

	content: '\e918';

	color: #005ca8;
}

.icon-logo .path3:before
{
	margin-left: -1.552734375em;

	content: '\e919';

	color: #005ca8;
}

.icon-logo .path4:before
{
	margin-left: -1.552734375em;

	content: '\e91a';

	color: #005ca8;
}

.icon-logo .path5:before
{
	margin-left: -1.552734375em;

	content: '\e91b';

	color: #005ca8;
}

.icon-logo .path6:before
{
	margin-left: -1.552734375em;

	content: '\e91c';

	color: #86bbe6;
}

.icon-logo .path7:before
{
	margin-left: -1.552734375em;

	content: '\e91d';

	color: #86bbe6;
}

.icon-logo .path8:before
{
	margin-left: -1.552734375em;

	content: '\e91e';

	color: #86bbe6;
}

.icon-logo .path9:before {
	margin-left: -1.552734375em;
	content: '\e91f';
	color: #86bbe6;
}

.icon-logo .path10:before {
	margin-left: -1.552734375em;
	content: '\e920';
	color: #86bbe6;
}

.icon-logo .path11:before {
	margin-left: -1.552734375em;
	content: '\e921';
	color: #86bbe6;
}

.icon-logo .path12:before {
	margin-left: -1.552734375em;
	content: '\e922';
	color: #86bbe6;
}

.icon-logo .path13:before {
	margin-left: -1.552734375em;
	content: '\e923';
	color: #86bbe6;
}

.icon-logo .path14:before {
	margin-left: -1.552734375em;
	content: '\e924';
	color: #86bbe6;
}

.icon-logo .path15:before {
	margin-left: -1.552734375em;
	content: '\e925';
	color: #86bbe6;
}

.icon-logo .path16:before {
	margin-left: -1.552734375em;
	content: '\e926';
	color: #86bbe6;
}

.icon-logo .path17:before {
	margin-left: -1.552734375em;
	content: '\e927';
	color: #86bbe6;
}

.icon-logo .path18:before {
	margin-left: -1.552734375em;
	content: '\e928';
	color: #86bbe6;
}

.icon-logo .path19:before {
	margin-left: -1.552734375em;
	content: '\e929';
	color: #86bbe6;
}

.icon-logo .path20:before {
	margin-left: -1.552734375em;
	content: '\e92a';
	color: #86bbe6;
}

.icon-logo .path21:before {
	margin-left: -1.552734375em;
	content: '\e92b';
	color: #86bbe6;
}

.icon-logo .path22:before {
	margin-left: -1.552734375em;
	content: '\e92c';
	color: #86bbe6;
}

.icon-logo .path23:before {
	margin-left: -1.552734375em;
	content: '\e92d';
	color: #86bbe6;
}

.icon-logo .path24:before {
	margin-left: -1.552734375em;
	content: '\e92e';
	color: #86bbe6;
}

.icon-logo .path25:before {
	margin-left: -1.552734375em;
	content: '\e92f';
	color: #86bbe6;
}

.icon-logo .path26:before {
	margin-left: -1.552734375em;
	content: '\e930';
	color: #86bbe6;
}

.icon-logo .path27:before {
	margin-left: -1.552734375em;
	content: '\e931';
	color: #86bbe6;
}

.icon-logo .path28:before {
	margin-left: -1.552734375em;
	content: '\e932';
	color: #ee7d00;
}

.icon-pb .path1:before {
	content: '\e933';
	color: #9a9999;
}

.icon-pb .path2:before {
	margin-left: -1em;
	content: '\e934';
	color: #cbcaca;
}

.icon-pb .path3:before {
	margin-left: -1em;
	content: '\e935';
	color: white;
}

.icon-pb .path4:before {
	margin-left: -1em;
	content: '\e936';
	color: white;
}

.icon-phone:before {
	content: '\e937';
	color: #fff;
}

.icon-s .path1:before {
	content: '\e938';
	color: #b71381;
}

.icon-s .path2:before {
	margin-left: -1em;
	content: '\e939';
	color: #efcfe5;
}

.icon-s .path3:before {
	margin-left: -1em;
	content: '\e93a';color: white;
}

.icon-search .path1:before {
	content: '\e93b';
	color: #86bbe6;
}

.icon-search .path2:before {
	margin-top: -2px;
	margin-left: -6px;
	content: '\e93c';
	color: white;
}

.icon-to_top .path1:before {
	content: '\e93d';
	color: #d1e5f5;
}

.icon-to_top .path2:before {
	margin-left: -1em;
	content: '\e93e';
	color: white;
}

.icon-wa .path1:before {content: '\e93f';
	color: #51b048;
}

.icon-wa .path2:before {
	margin-left: -1em;
	content: '\e940';
	color: #c2dab8;
}

.icon-wa .path3:before {
	margin-left: -1em;
	content: '\e941';
	color: white;
}

.icon-wa .path4:before {
	margin-left: -1em;
	content: '\e942';
	color: white;
}