* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


body {
	color: $color-base;
	font-family: $font-family-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}


.container {
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($gutter);
	padding-right: ($gutter);
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}

	@media (min-width: 1440px) {

		&_long {
			width: 97%;
			max-width: inherit;
		}
	}

	@media (min-width: $screen-xxl-min) {

		&_long {
			width: auto;
			max-width: 1920px;
		}
	}

	@media (min-width: $screen-extra-min) {

		&_long {
			width: $container-extra;
			max-width: inherit;
		}
	}
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($gutter);
	padding-right: ($gutter);
	@include clearfix;

}


// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.2;
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, .h1 {
	color: #005ca8;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2rem;
	margin-bottom: 2rem;
	font-family: $font-family-head;
}

h2, .h2 {
	font-size: 	3rem;
	margin-bottom: 2rem;
	font-family: $font-family-head;
}

h3, .h3 {
	color: #005CA8;
	font-size: 1.6rem;
	line-height: 2rem;
	margin-bottom: 1.5rem;
	font-family: $font-family-head;
}

h4, .h4 {
	font-size: 2rem;
	margin-bottom: 2rem;
	font-family: $font-family-head;
}

h5, .h5 {
	font-size: 1.6rem;
	margin-bottom: 1.6rem;
	font-family: $font-family-head;
}

h6, .h6 {
	font-size: 1.4rem;
	margin-bottom: 1.4rem;
	font-family: $font-family-head;
}


p {
	padding: 0;
	margin: 0 0 1rem 0;
}

// Links

a {
	outline: none;
	color: $link-color;
	text-decoration: $link-decoration;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}