.footer {
	background: #fff;
	padding-top: 90px;
	position: relative;

	&__main {
		background: $color-light-blue;
	}

	&__info {
		display: none;
	}

	&__nav {
		width: 100%;
		display: table;

		> ul {
			margin: 0;
			width: 50%;
			padding: 18px 0;
			list-style: none;
			display: table-cell;

			&:nth-child(2) {
				text-align: right;
				border-left: 1px solid $color-blue;
			}

			&:last-child {
				display: none;
			}

			> li {
				padding: 10px 0;

				> a {
					font-size: 13px;
					font-weight: 700;
					line-height: 20px;
					text-decoration: none;
					color: $color-dark-blue;
					text-transform: uppercase;

					&:hover {
						color: $color-orange;
					}
				}
			}
		}
	}

	&__privacy {
		padding: 10px 0;
		font-size: 10px;
		line-height: 13px;
		color: $color-dark-blue;
		background: $color-blue;

		a {
			color: $color-dark-blue;
		}
	}

	&__copy {
		color: #fff;
		padding: 10px 0;
		font-size: 10px;
		line-height: 13px;
		background: $color-dark-blue;
	}

	@media (min-width: $screen-sm-min) {

		&__main {
			padding: 30px 0 32px 0;
		}

		&__info {
			float: left;
			display: block;
			position: relative;
			padding-left: 120px;
			@include clearfix();
		}

		&__logo {
			top: 0;
			left: 0;
			width: 102px;
			height: 65px;
			position: absolute;
		}

		&__contact {
			margin: 0;
			padding: 0;
			list-style: none;

			&_work {
				font-size: 11px;
				line-height: 13px;
				color: $color-orange;
			}

			&_tel {
				font-size: 13px;
				font-weight: 700;
				line-height: 19px;
				text-decoration: none;

				&:hover {
					text-decoration: none;
				}
			}

			> li {
				margin-bottom: 8px;

				&:nth-child(2) {
					margin-bottom: 3px;
				}

				&:last-child {
					font-size: 11px;
					line-height: 13px;
					color: $color-dark-blue;

					> a {
						color: $color-dark-blue;
						text-decoration: none;
					}
				}
			}
		}

		&__nav {
			float: right;
			width: 380px;

			> ul {
				width: 190px;
				padding: 0 0 0 40px;
				border-left: 1px solid $color-blue;

				&:nth-child(2) {
					text-align: left;
				}

				> li {
					padding: 20px 0 0 0;

					&:first-child {
						padding-top: 0;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__nav {
			width: 600px;

			&_mobile {
				display: none;
			}

			> ul {

				&:nth-child(1) {
					width: 180px;
				}

				&:nth-child(2) {
					width: 200px;
				}

				&:last-child {
					width: 110px;
					display: table-cell;
				}

				> li {
					padding-top: 13px;

					&:first-child {
						padding-top: 0;
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.btn_top {

}