.modal {
	max-width: 400px;
	padding: 30px 15px;
	opacity: 0.1;
	background: #E3EDF5;
	@include scale(0.05);
	@include transition(.3s);
	border: 1px solid #b5d4ec;
	@include border-radius(4px);

	&__title {
		color: $color-orange;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	&__product {
		color: #005CA8;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		margin-bottom: 2rem;

	}

	@media (min-width: 360px) {
		padding: 30px 15px;
		width: 360px;
	}

	@media (min-width: $screen-sm-min) {
		padding: 30px 15px;
		width: 400px;
	}
}

.fancybox-slide--current {

	.modal {
		opacity: 1;
		@include scale(1);
		@include transition(.3s);
	}
}