.page {
	width: 100%;
	margin: 0 auto;
	max-width: 2560px;
	padding-top: 72px;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);

	&.open-nav {

		.header__toggle {
			border-color: #e3edf5;

			span {

				&:nth-child(1) {
					top: 5px;
					@include rotate(45deg);
				}

				&:nth-child(2) {
					@include rotate(-45deg);
				}


				&:nth-child(3) {
					display: none;
				}
			}
		}

		.header__nav {
			margin-top: 0;
			@include transition(0.4s);
		}
	}

	&.open-modal {

		.header__order {

			i {
				opacity: 0;
				visibility: hidden;
			}

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				content: '';
				width: 20px;
				height: 2px;
				background: #fff;
				position: absolute;
				display: inline-block;
				margin: -1px 0 0 -10px;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}
		}

		.header__modal {
			margin-top: 0;
			@include transition(0.4s);
		}
	}

	@media (min-width: 360px) {
		padding-top: 84px;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 90px;

		&.open-nav {

			.header__nav {
				@include transition(0s);
			}
		}

		&.open-modal {

			.header__order {

				i {
					opacity: 1;
					visibility: visible;
				}

				&:after,
				&:before {
					display: none;
				}
			}

			.header__modal {
				display: none;
				margin-top: -1000px;
				@include transition(0s);
			}
		}
	}

	@media (min-width: 1920px) {
		padding-top: 110px;


	}
}

.main {
	padding-top: 20px;
	padding-bottom: 40px;
	@include flex-grow(1);

	&_header {
		display: none;

		&_goods {
			background: url("../img/product__bg.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&_product {
			background: url("../img/category_01.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&_gradient {
			display: block;

			.header_content {
				padding: 15px 0 20px 0;
			}

			h1,
			.h1 {
				margin: 0;
				padding: 0;
				font-weight: 700;
				font-size: 1.8rem;
				line-height: 2rem;
				text-align: center;
				font-family: $font-family-head;
			}
		}
	}

	&__sidebar {
		display: none;
		position: relative;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 30px;

		&_header {

			&_gradient {
				@include gradient-vertical(#86BBE6,#FFFFFF);

				.header_content {
					padding: 20px 0 15px 0;

				}
			}
		}

		&__row {
			width: 100%;
			display: table;
			table-layout: fixed;
		}

		&__sidebar {
			width: 195px;
			display: table-cell;
			vertical-align: top;
			position: relative;
			table-layout: fixed;
		}

		&__content {
			padding-left: 30px;
			display: table-cell;
			vertical-align: top;
			table-layout: fixed;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 40px;

		&_header {
			height: 150px;
			display: block;

			&_gradient {

				.breadcrumbs {
					margin-bottom: 0;
				}

				.header_content {
					padding: 30px 0 15px 0;
				}

				h1,
				.h1 {
					font-size: 2.4rem;
					line-height: 2.8rem;
				}
			}
		}


		&__sidebar {
			width: 220px;
		}

		&__content {
			padding-left: 40px;
		}
	}


	@media (min-width: $screen-lg-min) {

		&_header {
			height: 160px;

			&_gradient {

				.header_content {
					padding: 50px 0 15px 0;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__sidebar {
			width: 270px;
		}

		&_header {
			height: 180px;

			&_goods {
				background-size: auto auto;
			}

			&_product {
				background-size: auto auto;
			}

			&_gradient {

				.header_content {
					padding: 60px 0 15px 0;
				}
			}
		}
	}

	@media (min-width: 1440px) {

		&_header {
			height: 220px;
		}
	}

	@media (min-width: $screen-xxl-min) {

		&_header {

			&_gradient {
				height: 255px;

				.header_content {
					padding: 70px 0 15px 0;
				}

				h1,
				.h1 {
					font-size: 3.5rem;
					line-height: 3.9rem;
				}
			}
		}

		&__sidebar {
			width: 370px;
		}

		&__content {
			padding-left: 160px;
		}
	}
}


.product-box {
	margin: 0 -15px;
	position: relative;

	a {
		z-index: 10;
		display: block;
		position: relative;
		padding-left: 113px;
		color: $color-orange;
		text-decoration: none;

		&:hover {
			color: $color-dark-blue;
			text-decoration: none;
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			padding: 0 15px;
			position: relative;
			border-bottom: 1px solid #CDE3F4;

			&:nth-child(odd) {
				background: #F0F7FC;
			}
		}
	}

	&__icon {
		top: 50%;
		left: 15px;
		width: 60px;
		height: 60px;
		margin-top: -30px;
		position: absolute;
		@include border-radius(50%);
	}

	&__text {
		width: 100%;
		display: table;
		font-size: 11px;
		font-weight: 700;
		line-height: 14px;

		span {
			height: 93px;
			display: table-cell;
			vertical-align: middle;
		}
	}

	@media (min-width: 360px) {

		&__icon {
			width: 70px;
			height: 70px;
			margin-top: -35px;
		}

		&__text {
			font-size: 14px;
			line-height: 18px;

			span {
				height: 110px;
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		width: 710px;
		margin: 0 auto;
		background: #F0F7FC;
		@include border-radius(50px);
		@include box-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));

		a {
			width: 100%;
			height: 233px;
			text-align: center;
			padding: 36px 0 0 0;
		}

		&__list {
			@include clearfix();

			> li {
				width: 50%;
				float: left;
				border-bottom: none;
				background: transparent;

				&:nth-child(odd) {
					background: transparent;
				}

				&:nth-child(1) {
					border-right: 1px solid #CDE3F4;
					border-bottom: 1px solid #CDE3F4;
				}

				&:nth-child(2) {
					border-bottom: 1px solid #CDE3F4;
				}

				&:nth-child(3) {
					border-right: 1px solid #CDE3F4;
				}
			}
		}

		&__icon {
			top: 0;
			left: 0;
			width: 100px;
			height: 100px;
			position: relative;
			margin: 0 auto 25px auto;
		}

		&__text {
			display: block;

			span {
				height: auto;
				display: inline-block;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 826px;
		margin-bottom: 35px;
		background: rgba(25,108,177,0.64);
		@include border-radius(55px);

		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			content: '';
			width: 100%;
			height: 114px;
			position: absolute;
			background: rgba(227,237,245,0.75);
			border: 1px solid $color-blue;
			@include border-radius(57px);
		}

		a {
			color: #fff;
			height: 196px;
			padding-top: 15px;

			&:hover {
				color: #fff;
			}
		}

		&__icon {
			width: 84px;
			height: 84px;
			margin-bottom: 30px;
		}

		&__list {

			> li {
				padding: 0;
				width: 25%;

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					border: none;
				}


				&:last-child {

					.product-box__text {
						border-right: none;
					}
				}
			}
		}

		&__text {
			font-size: 11px;
			line-height: 15px;
			height: 50px;
			border-right: 1px solid #fff;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 985px;
		height: 235px;
		margin-bottom: 70px;
		@include border-radius(68px);

		&:before {
			height: 135px;
			@include border-radius(67px);
		}

		&__icon {
			width: 100px;
			height: 100px;
			margin-bottom: 37px;
		}

		&__text {
			font-size: 14px;
			line-height: 18px;
			height: 62px;
		}
	}

	@media (min-width: $screen-xl-min) {
		width: 1280px;
		height: 305px;
		@include border-radius(90px);

		a {
			padding-top: 22px;
		}

		&:before {
			height: 175px;
			@include border-radius(90px);
		}

		&__icon {
			width: 130px;
			height: 130px;
			margin-bottom: 48px;
		}

		&__text {
			height: 80px;
			font-size: 18px;
			line-height: 22px;
		}
	}
}

.news-block {
	width: 100%;
	display: none;
	max-width: 100%;
	overflow: hidden;
	background: #fff;
	padding-top: 90px;
	padding-bottom: 50px;

	&__row {
		margin: 0 -14px;
		@include clearfix();
	}

	&__group {
		float: left;
		width: 33.33%;
		padding: 0 14px;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			padding: 25px 0 30px 0;
			border-bottom: 1px solid $color-blue;

			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
	}

	&__title {
		margin: 0;
		padding: 0;
		font-size: 14px;
		font-weight: 700;
		line-height: 18px;

		a {
			color: $color-dark-blue;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.h3 {
		padding: 0;
		font-size: 0;
		line-height: 0;
		text-align: center;
		margin: 0 0 15px 0;

		a {
			width: 200px;
			border: none;
			outline: none;
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
			text-align: center;
			padding: 8px 8px;
			display: inline-block;
			text-decoration: none;
			background: #D5E9F9;
			color: $color-dark-blue;
			@include transition(.25s);
			@include border-radius(18px);

			&:hover {
				text-decoration: none;
				color: $color-dark-blue;
				background: $color-blue;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		display: block;
	}

	@media (min-width: $screen-xl-min) {

		&__row {
			margin: 0 -77px;
		}

		&__group {
			padding: 0 77px;
		}
	}
}

.contact-info {
	color: #fff;
	position: relative;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 35px;
	background: #5893C5;

	&:after,
	&:before {
		display: none;
	}

	.container {
		z-index: 10;
		position: relative;
	}

	&__text {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 15px;

		span {
			display: block;
		}

		a {
			color: #fff;
			font-weight: 700;
			text-decoration: underline;

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	&__phone {
		margin: 0;
		padding: 0;
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
		list-style: none;

		> li {
			margin-bottom: 14px;

			a {
				color: #fff;
				text-decoration: none;

				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}

	.btn-blue {
		margin-top: 9px;
	}

	@media (min-width: 360px) {

		&__text {
			font-size: 16px;
			line-height: 20px;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__text {

			span {
				display: inline;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 0;

		&:after,
		&:before {
			z-index: 1;
			content: '';
			width: 240px;
			height: 200px;
			display: block;
			position: absolute;
			background: url("../img/contacts__bg.svg") 0 0 no-repeat;
			-webkit-background-size:  cover;
			background-size:          cover;
		}

		&:after {
			top: 0;
			left: 0;
		}

		&:before {
			right: 0;
			bottom: 0;
			@include rotate(180deg);
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 30px;

		&:after,
		&:before {
			width: 311px;
			height: 257px;
		}

		.btn-blue {
			margin-top: 14px;
		}
	}
}


.category {
	z-index: 50;
	position: relative;
	@include clearfix();

	&__header {
		margin-bottom: 20px;

		&_icon {
			display: none;
		}

		h1 {
			padding: 0;
			color: #005CA8;
			font-weight: 700;
			font-size: 1.6rem;
			text-align: center;
			line-height: 1.8rem;
			margin: 0 0 30px 0;
		}

		&_text {
			display: none;
		}
	}

	&__content {

	}

	@media (min-width: $screen-sm-min) {

		&__header {
			position: relative;
			margin-bottom: 25px;

			&_icon {
				left: 0;
				top: 0;
				width: 90px;
				height: 90px;
				display: block;
				position: absolute;
			}

			h1 {
				height: 90px;
				width: 100%;
				display: table;
				text-align: left;
				font-size: 20px;
				line-height: 26px;
				margin-bottom: 20px;

				span {
					padding-left: 105px;
					display: table-cell;
					vertical-align: middle;
				}
			}

			&_text {
				display: block;
				font-size: 14px;
				line-height: 20px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__header {
			float: right;
			width: 270px;
			padding-top: 30px;
			margin-bottom: 0;

			&_icon {
				left: 50%;
				top: -90px;
				width: 100px;
				height: 100px;
				margin-left: -50px;
			}


			h1 {
				display: block;
				height: auto;
				text-align: center;
				margin-bottom: 20px;

				span {
					padding: 0;
					display: block;
				}
			}

			&_text {
				text-align: center;
			}

		}

		&__content {
			float: left;
			width: 440px;
		}
	}

	@media (min-width: $screen-lg-min) {}

	@media (min-width: $screen-xl-min) {

		&__header {
			width: 330px;
			padding-top: 50px;

			&_icon {
				top: -105px;
				width: 130px;
				height: 130px;
				margin-left: -65px;
			}

			h1 {
				font-size: 24px;
				line-height: 30px;
			}
		}

		&__content {
			width: 640px;
			padding-right: 50px;
		}
	}

	@media (min-width: 1440px) {

		&__content {
			padding-left: 40px;
		}
	}

	@media (min-width: 1600px) {

		&__header {
			width: 360px;
		}

		&__content {
			width: 710px;
			padding-left: 0;
		}
	}

	@media (min-width: $screen-xxl-min) {

		&__header {
			width: 463px;
			padding-top: 105px;

			&_icon {
				top: -150px;
				width: 230px;
				height: 230px;
				margin-left: -115px;
			}
		}

		&__content {
			width: 860px;
		}
	}

	@media (min-width: $screen-extra-min) {

		&__header {
			width: 464px;
			padding-top: 105px;

			&_icon {
				top: -150px;
				width: 230px;
				height: 230px;
				margin-left: -115px;
			}

			h1 {
				font-size: 34px;
				line-height: 40px;
			}

			&_text {
				font-size: 18px;
				line-height: 24px;
			}
		}

		&__content {
			width: 1000px;
		}
	}
}


.cat {
	margin: 0 -15px;

	&__icon {
		width: 60px;
		height: 60px;
	}

	&__header {
		width: 100%;
		color: #04365F;
		display: table;
		font-size: 13px;
		cursor: pointer;
		text-align: left;
		line-height: 16px;
		position: relative;
		@include border-radius(9px);
	//	border-bottom: 1px solid #86BBE6;

		&:before {
			top: 50%;
			right: 15px;
			color: #005CA8;
			margin-top: -14px;
			content: "";
			font-weight: 400;
			font-size: 2.8rem;
			line-height: 2.8rem;
			position: absolute;
			font-family: FontAwesome;
		}

		&_icon {
			display: table-cell;
			vertical-align: middle;
			padding: 15px 0 15px 25px;
		}

		&_text {
			display: table-cell;
			vertical-align: middle;
			text-decoration: underline;
			padding: 15px 70px 15px 25px;
		}

		&:hover {
			color: #fff;
			text-decoration: none;
			@include border-radius(9px);

			&:before {
				color: #fff;
			}


			.cat__header_text {
				text-decoration: none;
			}
		}
	}

	&__content {
		z-index: 10;
		display: none;
		font-size: 14px;
		line-height: 18px;
		position: relative;
		padding: 20px 0 20px 0;

		&:before {
			top: -1px;
			left: 40px;
			content: '';
			display: block;
			position: absolute;
			border: 16px solid transparent;
			border-top: 16px solid transparent;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

			}
		}

		a {
			width: 100%;
			display: block;
			color: #04365F;
			padding: 0 40px 0 110px;
			text-decoration: underline;

			span {
				padding: 13px 0;
				display: block;
				position: relative;
				border-bottom: 1px solid #CDE3F4;

				&:before {
					top: 50%;
					left: -30px;
					color: #005CA8;
					margin-top: -10px;
					content: "\f105";
					font-weight: 400;
					font-size: 2rem;
					line-height: 2rem;
					position: absolute;
					font-family: FontAwesome;
				}
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&.open {

		.cat__header {
			color: #fff;
			@include border-radius(9px);

			&:before {
				color: #fff;
				@include rotate(180deg);
			}
		}

		.cat__header_text {
			text-decoration: none;
		}

		.cat__content {
			display: block;
		}
	}

	&.cat_one {

		.cat__header {
			background: #F0F7FC;

			&:hover {
				background: #005CA8;
			}
		}

		&.open {

			.cat__header {
				background: #005CA8;
			}
		}

		.cat__content {

			&:before {
				border-top-color: #005CA8;
			}

			a {

				&:hover {
					background: #BCDCF5;
				}
			}
		}
	}

	&.cat_two {

		.cat__header {
			background: #fff;

			&:hover {
				background: #006E88;
			}
		}

		&.open {

			.cat__header {
				background: #006E88;
			}
		}

		.cat__content {

			&:before {
				border-top-color: #006E88;
			}

			a {

				&:hover {
					background: #90C1D5;
				}
			}
		}
	}

	&.cat_three {

		.cat__header {
			background: #F0F7FC;

			&:hover {
				background: #702283;
			}
		}

		&.open {

			.cat__header {
				background: #702283;
			}
		}

		.cat__content {

			&:before {
				border-top-color: #702283;
			}

			a {

				&:hover {
					background: #D2C5E2;
				}
			}
		}
	}

	&.cat_four {

		.cat__header {
			background: #fff;

			&:hover {
				background: #702283;
			}
		}

		&.open {

			.cat__header {
				background: #702283;
			}
		}

		.cat__content {

			&:before {
				border-top-color: #702283;
			}

			a {

				&:hover {
					background: #D2C5E2;
				}
			}
		}
	}

	&.cat_five {

		.cat__header {
			background: #F0F7FC;

			&:hover {
				background: #B70D80;
			}
		}

		&.open {

			.cat__header {
				background: #B70D80;
			}
		}

		.cat__content {

			&:before {
				border-top-color: #B70D80;
			}

			a {

				&:hover {
					background: #EFCEE4;
				}
			}
		}
	}


	@media (min-width: 400px) {

		&__icon {
			width: 70px;
			height: 70px;
		}

		&__header {
			font-size: 16px;
			line-height: 20px;

			&_icon {
				width: 95px;
			}
		}

		&__content {
			font-size: 16px;
			line-height: 20px;

			&:before {
				left: 43px;
			}

			a {
				padding: 0 40px 0 120px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -15px 0 0;

		&__header {
			font-size: 14px;
			line-height: 20px;

			&:before {
				right: 25px;
			}

			&_icon {
				width: 100px;
				padding: 20px 0 20px 18px;
			}

			&_text {
				font-weight: 700;

				padding: 20px 60px 20px 25px;
			}
		}

		&__content {
			font-size: 16px;
			line-height: 20px;

			&:before {
				left: 37px;
			}

			a {
				padding: 0 40px 0 125px;
				border-bottom: 1px solid #CDE3F4;

				span {
					border-bottom: none;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		margin: 0;

		&__header {

			&:before {
				right: 35px;
			}

			&_text {
				padding: 20px 70px 20px 25px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__header {
			font-size: 16px;
			line-height: 20px;


			&_icon {
				width: 128px;
				padding: 20px 0 20px 58px;
			}

			&_text {
				padding: 20px 60px 20px 30px;
			}
		}

		&__content {

			&:before {
				left: 77px;
			}

			a {
				padding: 0 40px 0 160px;
			}
		}
	}

	@media (min-width: $screen-xxl-min) {

		&__header {
			font-size: 18px;
			line-height: 22px;
		}


		&__content {
			font-size: 18px;
			line-height: 22px;

			&:before {
				left: 77px;
			}

			a {
				padding: 0 40px 0 160px;
			}
		}
	}

	@media (min-width: $screen-extra-min) {

		&__icon {
			width: 100px;
			height: 100px;
		}

		&__header {
			font-size: 18px;
			line-height: 26px;

			&_icon {
				width: 170px;
				padding: 25px 0 25px 70px;
			}

			&_text {
				font-size: 18px;
				line-height: 22px;
				padding: 25px 60px 25px 30px;
			}
		}


		&__content {
			font-size: 18px;
			line-height: 22px;

			&:before {
				left: 105px;
			}

			a {
				padding: 0 40px 0 205px;

				span {
					padding: 25px 0;
				}
			}
		}
	}
}


.product_elem {
	width: 100%;
	color: #0A3B63;
	display: table;
	font-size: 13px;
	cursor: pointer;
	text-align: left;
	line-height: 16px;
	position: relative;
	background: #FBFCFE;
	text-decoration: underline;

	&__wrap {
		margin: 0 -15px;
	}

	&__icon {
		display: table-cell;
		vertical-align: middle;
		padding: 15px 0 15px 25px;

		&_wrap {
			width: 60px;
			height: 60px;
		}
	}

	&__text {
		display: table-cell;
		vertical-align: middle;
		padding: 15px 70px 15px 25px;
	}

	&:hover {
		color: #fff;
		background: #86BBE6;
	}

	&.elem_gray {
		background: #F0F7FC;

		&:hover {
			background: #999;
		}
	}

	&.elem_green {
		background: #F0F7FC;

		&:hover {
			background: #4DB246;
		}
	}


	@media (min-width: 400px) {

		&__icon {

			&_wrap {
				width: 70px;
				height: 70px;
			}
		}

	}

	@media (min-width: $screen-sm-min) {

		&__wrap {
			margin: 0 -15px 0 0;
		}

		&__icon {
			width: 100px;
			padding: 20px 0 20px 18px;
		}

		&__text {
			font-weight: 700;
			padding: 20px 60px 20px 25px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__wrap {
			margin: 0;
		}

		&__text {
			padding: 20px 70px 20px 25px;
		}
	}

	@media (min-width: $screen-lg-min) {}

	@media (min-width: $screen-xl-min) {
		font-size: 16px;
		line-height: 20px;

		&__icon {
			width: 128px;
			padding: 20px 0 20px 58px;
		}

		&__text {
			padding: 20px 60px 20px 30px;
		}
	}

	@media (min-width: $screen-xxl-min) {
		font-size: 18px;
		line-height: 22px;
	}

	@media (min-width: $screen-extra-min) {

		font-size: 18px;
		line-height: 26px;

		&__icon {
			width: 170px;
			padding: 25px 0 25px 70px;

			&_wrap {
				width: 100px;
				height: 100px;
			}
		}

		&__text {
			padding: 25px 60px 25px 30px;
		}
	}
}


@media (min-width: $screen-sm-min) {}

@media (min-width: $screen-md-min) {}

@media (min-width: $screen-lg-min) {}

@media (min-width: $screen-xl-min) {}




