.sidenav {
	margin-top: -10px;

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {

			> a {
				width: 100%;
				display: table;
				color: #005CA8;
				font-weight: 700;
				font-size: 1.2rem;
				position: relative;
				line-height: 1.8rem;
				text-decoration: none;
				text-transform: uppercase;
				border-bottom: 1px solid #CDE3F4;

				> span {
					height: 66px;
					display: table-cell;
					vertical-align: middle;
					padding: 0.5rem 0 0.5rem 2.5rem;
				}

				i {
					font-style: normal;
					position: relative;
					display: inline-block;

					&:before {
						top: 0;
						left: -25px;
						font-size: 2rem;
						content: "\f107";
						line-height: 2rem;
						position: absolute;
						font-family: FontAwesome;
						@include rotate(-90deg);
					}
				}

				&:hover {
					color: $color-orange;
					text-decoration: none;
				}
			}

			&:last-child {

				> a {
				//	border-bottom: none;
				}
			}

			&.open,
			&.active {

				> a {
					color: $color-orange;

					i {
						&:before {
							@include rotate(0deg);
						}
					}
				}

				> ul {
					display: block;
				}
			}

			> ul {

				> li {


					&.open {

						> ul {
							display: block;
						}
					}

					> ul {

					}
				}
			}
		}
	}

	&_second {
		margin: 0;
		padding: 0;
		display: none;
		list-style: none;

		> li {
			border-bottom: 1px solid #CDE3F4;

			> a {
				width: 100%;
				display: table;
				color: #669DCB;
				font-weight: 700;
				font-size: 1.2rem;
				position: relative;
				line-height: 1.8rem;
				text-decoration: none;

				span {
					height: 66px;
					display: table-cell;
					vertical-align: middle;
					padding: 0.5rem 0 0.5rem 4.5rem;
				}

				i {
					font-style: normal;
					position: relative;
					display: inline-block;

					&:before {
						top: -2px;
						left: -25px;
						font-size: 2rem;
						content: "\f107";
						line-height: 2rem;
						position: absolute;
						font-family: FontAwesome;
						@include rotate(-90deg);
					}
				}

				&:hover {
					color: $color-orange;
					text-decoration: none;
				}
			}

			&.open,
			&.active {

				> a {
					color: $color-orange;

					i {
						&:before {
							@include rotate(0deg);
						}
					}
				}
			}
		}
	}

	&_third {
		margin: 0;
		display: none;
		list-style: none;
		padding: 0 0 0.5rem 4.5rem;

		> li {
			padding: 1rem 0;

			> a {

				color: #669DCB;
				font-weight: 400;
				font-size: 1.2rem;
				position: relative;
				line-height: 1.8rem;
				display: inline-block;
				text-decoration: none;

				&:before {
					width: 4px;
					height: 4px;
					content: '';
					top: 0.8rem;
					left: -2rem;
					display: block;
					position: absolute;
					background: #669DCB;
					@include border-radius(50%);
				}

				&:hover {
					color: $color-orange;
					text-decoration: none;

					&:before {
						background: $color-orange;
					}
				}
			}

			&.active {

				> a {
					color: $color-orange;
					text-decoration: none;

					&:before {
						background: $color-orange;
					}
				}
			}
		}
	}

	&_news {
		margin: 0;
		padding: 0;
		display: none;
		list-style: none;

		> li {
			padding: 15px 0 15px 20px;
			border-bottom: 1px solid #CDE3F4;
		}

		&__date {
			font-size: 1rem;
			margin-bottom: 12px;
			display: block;
			color: #005CA8;
		}

		a {
			font-size: 1.1rem;
			position: relative;
			display: inline-block;

			&:before {
				top: 4px;
				width: 5px;
				height: 5px;
				left: -16px;
				content: '';
				position: absolute;
				background: #669DCB;
				display: inline-block;
				@include border-radius(50%);
			}
		}
	}


	@media (min-width: $screen-md-min) {
		margin-top: -15px;

		&_news {

			> li {
				padding: 15px 0 20px 20px;
				border-bottom: 1px solid #CDE3F4;
			}

			&__date {
				font-size: 1.1rem;
				margin-bottom: 12px;
				display: block;
				color: #005CA8;
			}

			a {
				font-size: 1.2rem;
				position: relative;
				display: inline-block;

				&:before {
					top: 6px;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		margin-top: -20px;

		> ul {

			> li {

				> a {
					font-size: 1.8rem;
					line-height: 2.4rem;

					> span {
						height: 90px;
						padding: 1rem 0 1rem 2.5rem;
					}

					i {
						&:before {
							top: 3px;
						}
					}
				}
			}
		}

		&_second {

			> li {

				> a {
					font-size: 1.8rem;
					line-height: 2.4rem;

					> span {
						height: 90px;
						padding: 1rem 0 1rem 2.5rem;
					}

					i {

						&:before {
							top: 0;
						}
					}
				}
			}
		}

		&_third {

			> li {
				padding: 1.5rem 0;

				> a {
					font-size: 1.8rem;
					line-height: 2.4rem;

					&:before {
						top: 10px;
					}
				}
			}
		}

	}

	@media (min-width: $screen-xxl-min) {

		> ul {

			> li {

				> a {
					font-size: 2.4rem;
					line-height: 3rem;

					> span {
						height: 100px;
						padding: 1rem 0 1rem 2.5rem;
					}

					i {
						&:before {
							top: 3px;
							font-size: 2.4rem;
							line-height: 2.4rem;
						}
					}
				}
			}
		}

		&_second {

			> li {

				> a {
					font-size: 2.4rem;
					line-height: 3rem;

					> span {
						height: 100px;
						padding: 1rem 0 1rem 2.5rem;
					}

					i {
						&:before {
							top: 3px;
							font-size: 2.4rem;
							line-height: 2.4rem;
						}
					}
				}
			}
		}

		&_third {

			> li {
				padding: 1.5rem 0;

				> a {
					font-size: 2.4rem;
					line-height: 3rem;

					&:before {
						top: 10px;
					}
				}
			}
		}

		&_news {

			> li {
				padding: 15px 0 20px 25px;
				border-bottom: 1px solid #CDE3F4;
			}

			&__date {
				font-size: 1.4rem;
				margin-bottom: 12px;
				display: block;
				color: #005CA8;
			}

			a {
				font-size: 1.4rem;
				position: relative;
				display: inline-block;

				&:before {
					top: 6px;
					left: -20px;
					width: 7px;
					height: 7px;
				}
			}
		}
	}

}

.goods {

	&__row {
		margin-bottom: 30px;
		@include clearfix();
	}

	&__header {
		padding-left: 86px;
		position: relative;

		&_icon {
			left: 0;
			top: 100%;
			width: 70px;
			height: 70px;
			margin-top: 35px;
			position: absolute;
		}

		h1 {
			padding: 0;
			color: #005CA8;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 1.8rem;
			margin: 0 0 3rem 0;
		}
	}

	&__text {
		color: #04365F;
		font-size: 1.2rem;
		line-height: 1.8rem;
		padding-left: 86px;

		&_button {
			padding-top: 1rem;
		}
	}

	&_tabs {
		margin: 0 -1.5rem;
		border-top: 1px solid #CDE3F4;

		.r-tabs-accordion-title {
			font-weight: 700;
			font-size: 1.3rem;
			line-height: 1.6rem;

			a {
				width: 100%;
				color: #005CA8;
				position: relative;
				background: #F0F7FC;
				text-decoration: none;
				display: inline-block;
				padding: 15px 15px 15px 70px;
				border: 1px solid #CDE3F4;
				border-top: none;

				&:after,
				&:before {
					top: 50%;
					left: 10px;
					z-index: 1;
					content: '';
					width: 30px;
					height: 30px;
					margin-top: -15px;
					position: absolute;
				}

				&:after {
					display: inline-block;
				}

				&:before {
					display: none;
				}

				span {
					width: 100%;
					position: relative;
					display: inline-block;

					&:before {
						top: 50%;
						right: 0;
						color: #005CA8;
						margin-top: -12px;
						content: "\f107";
						font-weight: 400;
						font-size: 2.4rem;
						line-height: 2.4rem;
						position: absolute;
						font-family: FontAwesome;
					}
				}

				&:hover {
					color: #fff;
					background: #86BBE6;
					text-decoration: none;

					&:after {
						display: none;
					}

					&:before {
						display: inline-block;
					}
				}

				&[href='#tab_1'] {

					&:after {
						background: url("../img/goods_tabs__01.svg") 50% 50% no-repeat;
						background-size: cover;
					}

					&:before {
						background: url("../img/goods_tabs__01_hover.svg") 50% 50% no-repeat;
						background-size: cover;
					}
				}

				&[href='#tab_2'] {

					&:after {
						background: url("../img/goods_tabs__02.svg") 50% 50% no-repeat;
						background-size: cover;
					}

					&:before {
						background: url("../img/goods_tabs__02_hover.svg") 50% 50% no-repeat;
						background-size: cover;
					}
				}

				&[href='#tab_3'] {

					&:after {
						background: url("../img/goods_tabs__03.svg") 50% 50% no-repeat;
						background-size: cover;
					}

					&:before {
						background: url("../img/goods_tabs__03_hover.svg") 50% 50% no-repeat;
						background-size: cover;
					}
				}

				&[href='#tab_4'] {

					&:after {
						background: url("../img/goods_tabs__04.svg") 50% 50% no-repeat;
						background-size: cover;
					}

					&:before {
						background: url("../img/goods_tabs__04_hover.svg") 50% 50% no-repeat;
						background-size: cover;
					}
				}

				&[href='#tab_5'] {

					&:after {
						background: url("../img/goods_tabs__05.svg") 50% 50% no-repeat;
						background-size: cover;
					}

					&:before {
						background: url("../img/goods_tabs__05_hover.svg") 50% 50% no-repeat;
						background-size: cover;
					}
				}
			}

			&.r-tabs-state-active {

				a {
					color: #fff;
					background: #86BBE6;
					text-decoration: none;

					&:after {
						display: none;
					}

					&:before {
						display: inline-block;
					}

					span {

						&:before {
							color: #fff;
							@include rotate(180deg);
						}
					}
				}
			}
		}

		&__item {
			color: #053760;
			font-size: 1.2rem;
			border: 1px solid #CDE3F4;

			h4 {
				text-align: center;
			}
		}
	}

	&_advantage {
		padding: 0;
		font-size: 0;
		line-height: 0;
		text-align: center;
		margin: 0 -10px;
		list-style: none;
		@include clearfix();

		> li {
			width: 50%;
			display: inline-block;
			margin-bottom: 25px;
		}

		&__item {
			width: 130px;
			height: 130px;
			margin: 0 auto;
			display: table;
			font-size: 1.2rem;
			line-height: 1.5rem;
			text-align: center;
			background: #EAF2FB;
			@include border-radius(50%);

			span {
				padding: 1rem;
				height: 130px;
				text-align: center;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}


	&__info {
		margin: 0 -15px;
		@include clearfix();

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			&:last-child {

				li {

					&:last-child {
						border-bottom: none;
					}
				}
			}
		}

		li {
			min-height: 60px;
			position: relative;
			padding: 15px 15px 15px 85px;
			border-bottom: 1px solid #CDE3F4;

			&.goods__info_10 {

				&:before {
					width: 41px;
				}
			}

			strong {
				position: absolute;
				display: inline-block;
			}

			&:before {
				top: 50%;
				left: 15px;
				content: '';
				width: 39px;
				height: 40px;
				margin-top: -20px;
				position: absolute;
				display: inline-block;
			}
		}

		&_01 {

			&:before {
				background: url("../img/goods_info__01.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&_02 {

			&:before {
				background: url("../img/goods_info__02.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&_03 {

			&:before {
				background: url("../img/goods_info__03.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&_04 {

			&:before {
				background: url("../img/goods_info__04.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&_05 {

			&:before {
				background: url("../img/goods_info__05.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&_06 {

			&:before {
				background: url("../img/goods_info__06.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&_07 {

			&:before {
				background: url("../img/goods_info__07.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&_08 {

			&:before {
				background: url("../img/goods_info__08.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&_09 {

			&:before {
				background: url("../img/goods_info__09.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&_10 {

			&:before {
				background: url("../img/goods_info__10.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&_11 {

			&:before {
				background: url("../img/goods_info__11.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}
	}

	@media (min-width: 360px) {

		&_tabs {

			.r-tabs-accordion-title {
				font-size: 1.6rem;
				line-height: 2rem;

				a {
					padding: 17px 17px 17px 70px;

					&:after,
					&:before {
						width: 36px;
						height: 36px;
						margin-top: -18px;
					}


					span {

						&:before {
							font-size: 3rem;
							line-height: 3rem;
							margin-top: -15px;
						}
					}
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		&__row {
			margin-bottom: 40px;
		}

		&__header {
			min-height: 90px;
			padding: 20px 40px 0 105px;

			&_icon {
				top: 0;
				left: 0;
				width: 90px;
				height: 90px;
				margin-top: 0;
			}

			h1 {
				font-size: 2rem;
				line-height: 2.4rem;
			}
		}

		&__text {
			padding-left: 0;
			font-size: 1.4rem;
			line-height: 2rem;
		}

		&_tabs {
			margin: 0;

			.r-tabs-accordion-title {
				font-size: 1.8rem;
				line-height: 2.2rem;

				a {
					padding: 25px 25px 25px 80px;

					&:after,
					&:before {
						left: 15px;
						width: 40px;
						height: 40px;
						margin-top: -20px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__header {
			padding: 0;
			float: right;
			width: 265px;
			text-align: center;

			&_icon {
				top: auto;
				left: auto;
				width: 100px;
				height: 100px;
				position: relative;
				margin: -90px auto 25px auto;
			}
		}

		&__text {
			float: left;
			width: 445px;
		}

		&_tabs {
			border-top: none;

			&__nav {

				> li {
					border: 1px solid #CDE3F4;
					border-right: none;

					&:last-child {
						border-right: 1px solid #CDE3F4;
					}

					a {
						font-size: 0;
						line-height:0;
						color: #005CA8;
						display: block;
						font-weight: 700;
						text-align: center;
						background: #F0F7FC;
						text-decoration: none;

						span {
							font-size: 1.1rem;
							line-height: 2rem;
							position: relative;
							display: inline-block;
							padding: 10px 0 10px 33px;

							&:after,
							&:before {
								left: 0;
								top: 50%;
								z-index: 1;
								content: '';
								width: 26px;
								height: 26px;
								margin-top: -13px;
								position: absolute;
							}

							&:after {
								display: inline-block;
							}

							&:before {
								display: none;
							}
						}

						&:hover {
							color: #fff;
							background: #86BBE6;

							span {

								&:after {
									display: none;
								}

								&:before {
									display: inline-block;
								}
							}
						}
					}

					&.r-tabs-state-active {

						a {
							color: #fff;
							background: #86BBE6;

							span {

								&:after {
									display: none;
								}

								&:before {
									display: inline-block;
								}
							}
						}
					}

					&:nth-child(1) {

						a {

							span {

								&:after {
									background: url("../img/goods_tabs__01.svg") 50% 50% no-repeat;
									background-size: cover;
								}

								&:before {
									background: url("../img/goods_tabs__01_hover.svg") 50% 50% no-repeat;
									background-size: cover;
								}
							}
						}
					}

					&:nth-child(2) {

						a {

							span {

								&:after {
									background: url("../img/goods_tabs__02.svg") 50% 50% no-repeat;
									background-size: cover;
								}

								&:before {
									background: url("../img/goods_tabs__02_hover.svg") 50% 50% no-repeat;
									background-size: cover;
								}
							}
						}
					}

					&:nth-child(3) {

						a {

							span {

								&:after {
									background: url("../img/goods_tabs__03.svg") 50% 50% no-repeat;
									background-size: cover;
								}

								&:before {
									background: url("../img/goods_tabs__03_hover.svg") 50% 50% no-repeat;
									background-size: cover;
								}
							}
						}
					}

					&:nth-child(4) {

						a {

							span {

								&:after {
									background: url("../img/goods_tabs__04.svg") 50% 50% no-repeat;
									background-size: cover;
								}

								&:before {
									background: url("../img/goods_tabs__04_hover.svg") 50% 50% no-repeat;
									background-size: cover;
								}
							}
						}
					}

					&:nth-child(5) {

						a {

							span {

								&:after {
									background: url("../img/goods_tabs__05.svg") 50% 50% no-repeat;
									background-size: cover;
								}

								&:before {
									background: url("../img/goods_tabs__05_hover.svg") 50% 50% no-repeat;
									background-size: cover;
								}
							}
						}
					}
				}
			}

			&__item {

				h3 {
					max-width: 320px;
					margin: 0 auto 3rem auto;
				}
			}
		}

		.r-tabs {

			.r-tabs-nav {
				width: 100%;
				display: table;
			}

			.r-tabs-tab {
				display: table-cell;
				vertical-align: middle;
			}
		}

		&_advantage {
			margin: 0 -10px 20px -10px;

			> li {
				width: 25%;
				padding: 0 10px;
				margin-bottom: 0;
			}

			&__item {
				background: #EFCEE4;
			}
		}

		&__info {
			margin: 0 -25px 30px -25px;

			ul {
				width: 50%;
				float: left;
				padding: 0 25px;

				&:first-child {
					border-right: 1px solid #CDE3F4;
				}

				&:last-child {


					li {

						&:last-child {
							border-bottom: 1px solid #CDE3F4;
						}
					}
				}
			}

			li {
				padding: 15px 15px 15px 55px;

				&.goods__info_10 {

					&:before {
						width: 32px;
					}
				}

				&:before {
					left: 0;
					width: 31px;
					height: 32px;
					margin-top: -16px;
				}

				&_10 {

					&:before {
						width: 40px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__header {
			width: 325px;

			&_icon {
				width: 130px;
				height: 130px;
				margin: -105px auto 25px auto;
			}

			h1 {
				font-size: 2.4rem;
				line-height: 2.8rem;
			}
		}

		&__text {
			width: 570px;
			font-size: 1.8rem;
			line-height: 2.4rem;
		}

		&_tabs {

			&__nav {

				> li {

					a {

						span {
							font-size: 1.4rem;
							padding: 17px 0 17px 45px;

							&:after,
							&:before {
								width: 36px;
								height: 36px;
								margin-top: -18px;
							}
						}
					}
				}
			}

			&__item {
				font-size: 1.8rem;
				line-height: 2.4rem;
			}
		}


		&_advantage {
			width: auto;
			padding-top: 20px;
			margin: 0 auto 3rem auto;

			&__item {
				width: 180px;
				height: 180px;
				font-size: 1.3rem;
				line-height: 1.5rem;

				span {
					height: 180px;
				}
			}
		}

		&__info {

			ul {
				width: 50%;
				float: left;
				padding: 0 25px;

				&:first-child {
					padding-right: 80px;
					border-right: 1px solid #CDE3F4;
				}

				&:last-child {
					padding-left: 80px;

					li {
						left: auto;
					}
				}
			}

			li {
				font-size: 1.4rem;
				line-height: 1.8rem;
				padding: 25px 25px 25px 70px;

				&:before {
					left: 0;
					width: 39px;
					height: 40px;
					margin-top: -20px;

				}

				&.goods__info_10 {

					&:before {
						width: 41px;
					}
				}
			}
		}

		.r-tabs {

			.r-tabs-panel {
				padding: 30px 20px;
			}
		}
	}

	@media (min-width: $screen-xxl-min) {

		&__row {
			margin-bottom: 80px;
		}

		&__header {
			width: 43%;

			&_icon {
				width: 230px;
				height: 230px;
				margin: -155px auto 25px auto;
			}

			h1 {
				max-width: 590px;
				font-size: 3.5rem;
				line-height: 4rem;
				margin: 0 auto 5rem auto;
			}
		}

		&__text {
			width: 57%;
			font-size: 2.4rem;
			line-height: 3.5rem;
		}

		&_tabs {

			&__nav {

				> li {

					a {

						span {
							font-size: 2.4rem;
							line-height: 3rem;
							padding: 30px 0 30px 80px;

							&:after,
							&:before {
								width: 56px;
								height: 56px;
								margin-top: -28px;
							}
						}
					}
				}
			}

			&__item {
				font-size: 2.4rem;
				line-height: 3.5rem;

				h3 {
					max-width: 600px;
					font-size: 3rem;
					line-height: 3.6rem;
					margin-bottom: 6rem;
				}
			}
		}

		&_advantage {
			width: 1200px;
			padding-top: 3rem;
			margin: 0 auto 8rem auto;

			&__item {
				width: 260px;
				height: 260px;
				font-size: 2rem;
				line-height: 2.8rem;
			}
		}

		&__info {

			ul {
				width: 50%;
				float: left;
				padding: 0 25px;

				&:first-child {
					padding-right: 55px;
					border-right: 1px solid #CDE3F4;
				}

				&:last-child {
					padding-left: 55px;

					li {
						left: auto;
					}
				}
			}

			li {
				min-height: 100px;
				font-size: 2rem;
				line-height: 2.6rem;
				padding: 25px 25px 25px 80px;

				&:before {
					left: 5px;
					width: 48px;
					height: 50px;
					margin-top: -25px;
				}

				&.goods__info_10 {

					&:before {
						width: 50px;
					}
				}
			}
		}

		.r-tabs {

			.r-tabs-panel {
				padding: 40px 40px;
			}
		}
	}

	@media (min-width: 2200px) {

		&_tabs {

			&__nav {

				> li {

					a {

						span {
							font-size: 2.4rem;
							line-height: 3rem;
							padding: 30px 0 30px 80px;

							&:after,
							&:before {
								width: 56px;
								height: 56px;
								margin-top: -28px;
							}
						}
					}

					&:nth-child(1) {
						width: 17%;
					}

					&:nth-child(2) {
						width: 30%;
					}

					&:nth-child(3) {
						width: 20%;
					}

					&:nth-child(4) {
						width: 20%;
					}

					&:nth-child(5) {
						width: 13%;
					}
				}
			}
		}
	}
}

.productions {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	background: #fff;
	padding-top: 15px;
	padding-bottom: 70px;

	h1 {
		padding: 0;
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		margin: 0 0 15px 0;
		color: $color-dark-blue;
	}

	&__text {
		color: #fff;
		display: none;
		margin: 0 auto;
		max-width: 670px;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
	}

	@media (min-width: $screen-sm-min) {

		h1 {
			margin-bottom: 45px;
		}

	}

	@media (min-width: $screen-md-min) {
		padding-top: 0;
		height: 515px;
		margin-bottom: 60px;
		background: url("../img/production__bg.jpg") 50% 100% no-repeat;
		background-size: cover;

		h1 {
			color: #fff;
			font-size: 24px;
			line-height: 26px;
			margin-bottom: 20px;
		}

		&__text {
			display: block;
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 685px;
		margin-bottom: 75px;
		background-size: auto;

		h1 {
			margin-bottom: 80px;
		}
	}

	@media (min-width: $screen-xl-min) {
		height: 875px;
		margin-bottom: 80px;

		&__text {
			font-size: 18px;
			line-height: 24px;
		}
	}
}


@media (min-width: $screen-sm-min) {}

@media (min-width: $screen-md-min) {}

@media (min-width: $screen-lg-min) {}

@media (min-width: $screen-xl-min) {}

