
.slider_main {
	overflow: hidden;
	position: relative;
	padding-bottom: 42px;

	.container {
		z-index: 100;
		position: relative;
	}

	&__lines {
		z-index: 1;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
	}

	&__title {
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		max-width: 550px;
		margin: 0 auto 30px auto;
		text-shadow: 0 3px 6px rgba(0, 0, 0, .9);
	}

	&__elem {
		text-align: center;
		background-size: cover;
		background-position: 50% 50%;
	}

	&__row {
		width: 100%;
		display: table;
		position: relative;
		z-index: 100;
	}

	&__col {
		height: 230px;
		display: table-cell;
		vertical-align: middle;
	}

	.slick-dots {
		left: 0;
		right: 0;
		z-index: 200;
		top: auto;
		bottom: 0;
		margin: 0;
		padding: 20px 0 10px 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;
		position: absolute;

		li {
			padding: 0 4px;
			position: relative;
			display: inline-block;


			button {
				width: 12px;
				height: 12px;
				border: none;
				outline: none;
				padding: 0;
				cursor: pointer;
				display: inline-block;
				background: transparent;
				@include border-radius(50%);
				@include transition(.3s);

				&:before {
					top: 50%;
					left: 50%;
					width: 6px;
					height: 6px;
					content: '';
					display: inline-block;
					margin: -3px 0 0 -3px;
					position: absolute;
					background: #ef7d00;
					@include border-radius(50%);

				}
			}

			&.slick-active {

				button {
					background: #ef7d00;
					@include transition(.3s);
				}
			}
		}
	}

	.slick-list,
	.slick-track {
		height: 100%;
	}

	.slick-track {
		position: relative;
	}

	.icon-arrow_slider {
		font-size: 2rem;
		position: absolute;
		z-index: 1;
		top: 30%;
		cursor: pointer;
		text-align: center;
		-webkit-transition: .25s;
		transition: .25s;

		opacity: .5;
	}

	.icon-arrow_slider :before {
		opacity: 1 !important;
	}

	.icon-arrow_slider:hover {
		opacity: 1;
	}

	.index-prev {
		left: 5%;
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.index-next {
		right: 5%;
	}


	@media (min-width: 480px) {

		&__col {
			height: 310px;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__elem {
			background-position: 50% 50%;
		}

		&__title {
			font-size: 30px;
			margin-bottom: 45px;
		}

		&__col {
			height: 420px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__col {
			height: 440px;
		}

		&__title {
			font-size: 45px;
			margin-bottom: 50px;
		}

	}

	@media (min-width: $screen-xl-min) {

		&__col {
			height: 610px;
		}
	}

	@media (min-width: 1440px) {


		.icon-arrow_slider {
			font-size: 3.6rem;
			top: 28%;
		}
	}

	@media (min-width: 1920px) {

		&__col {
			height: 870px;
		}

		.container {
			padding-bottom: 100px;
		}
	}
}

.hide_box_container {

	.hide_box {
		display: none;
	}

	.hide_box_btn {
		display: block;
		text-align: center;
	}

	@media (min-width: $screen-sm-min) {

		.hide_box_btn {
			text-align: left;
		}
	}

	@media (min-width: $screen-md-min) {

		.hide_box {
			display: block;
		}

		.hide_box_btn {
			display: none;
		}
	}
}


.advantage {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 20px;

	&__row {
		position: relative;
		z-index: 10;
		@include clearfix();
	}

	&__col {
		width: 50%;
		float: left;
		margin-bottom: 10px;
	}

	&__elem {
		color: #04365f;
		display: block;
		position: relative;
		text-align: center;
		text-decoration: none;
		@include transition(0.25s);

		&_icon {
			width: 102px;
			height: 102px;
			overflow: hidden;
			margin: 0 auto 1.2rem auto;
			@include border-radius(50%);
			@include transition(0.25s);
		}

		&_title {
			min-height: 5.4rem;
			margin: 0 auto;
			max-width: 230px;
			font-size: 1.1rem;
			line-height: 1.8rem;
			text-transform: uppercase;

			span {
				display: block;
				padding: 0 1.5rem;
			}
		}

		&:hover {
			color: #ef7d00;
			text-decoration: none;
			@include transition(0.25s);

			.advantage__elem_icon {
				@include transition(0.25s);
				@include box-shadow(0 3px 6px rgba(0, 0, 0, .85));
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		&__col {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 40px;

		&__box {
			position: relative;
			border: 1px solid #BCD4E8;
			padding: 17px 15px 20px 15px;
			@include border-radius(75px);

			&:before {
				top: 0;
				left: 0;
				z-index: 1;
				content: "";
				width: 100%;
				height: 140px;
				position: absolute;
				background: rgba(227, 237, 245, 0.75);
				border: 1px solid #86BBE6;
				@include border-radius(85px);
			}
		}

		&__col {
			width: 16.6666%;
			margin-bottom: 0;
		}

		&__elem {

			&_icon {
				margin-bottom: 35px;
			}

			&_title {
				width: 100%;
				display: table;
				font-size: 1.2rem;
				max-width: inherit;
				border-right: 1px solid #86bbe6;

				span {
					height: 54px;
					display: table-cell;
					vertical-align: middle;
				}
			}
		}

		&__col {

			&:last-child {

				.advantage__elem_title {
					border-right: none;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__box {
			padding: 22px 15px 20px 15px;
			@include border-radius(90px);

			&:before {
				height: 178px;
			}
		}

		&__elem {

			&_icon {
				width: 135px;
				height: 135px;
				margin-bottom: 40px;
			}
		}
	}
}

.about {
	overflow: hidden;
	padding-top: 50px;
	position: relative;
	padding-bottom: 60px;
	border-top: 1px solid #86bbe6;

	&__line {
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		display: none;
		position: absolute;
	}

	.container {
		z-index: 10;
		position: relative;
	}

	&__content {

	}

	&__image {
		width: 374px;
		height: 374px;
		display: none;
		position: absolute;

		&:before {
			z-index: -1;
			content: '';
			top: 10px;
			left: 12px;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			background: #0861aa;
			@include border-radius(50%);
		}

		&_wrap {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			@include border-radius(50%);
		}
	}

	h1 {
		color: #005ca8;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.2rem;
		margin-bottom: 20px;
		text-align: center;
	}

	@media (min-width: $screen-sm-min) {
		border-top: none;
		padding-top: 90px;


		&__line {
			display: block;
		}

		h1 {
			text-align: left;
		}

		&__image {
			top: 5px;
			left: -100px;
			display: block;
		}

		&__content {
			float: right;
			width: 370px;
		}
	}


	@media (min-width: $screen-md-min) {
		padding-top: 110px;

		&__content {
			width: 630px;
		}

		&__image {
			top: 15px;
			left: -220px;
			width: 530px;
			height: 530px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__content {
			width: 650px;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 120px;

		&__image {
			top: 5px;
			left: -200px;
		}

		&__content {
			padding-top: 15px;
			min-height: 540px;
			width: 855px;
			padding-right: 60px;
		}
	}
}

.video_block {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 30px;

	&__wrap {
		margin: 0 -1.5rem;
	}


	&__elem {
		margin: 0 auto;
		display: block;
		position: relative;
		max-width: 708px;

		&:before {
			top: 50%;
			left: 50%;
			z-index: 10;
			width: 35px;
			height: 38px;
			content: '';
			position: absolute;
			margin: -19px 0 0 -17px;
			background-image: url('../img/play.svg');
			background-repeat: no-repeat;
		}

		&:after {
			top: 50%;
			left: 50%;
			z-index: 5;
			content: '';
			width: 104px;
			height: 76px;
			position: absolute;
			margin: -38px 0 0 -57px;
			background-color: rgba(0, 0, 0, .7);
			@include transition(.25s);
			@include border-radius(20px);
		}

		&:hover {

			&:after {
				background-color: red;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 30px;
		padding-bottom: 50px;


		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbecfc+0,adcde9+57,90b9dd+65,5893c5+100 */
		background: rgb(219,236,252); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(219,236,252,1) 0%, rgba(173,205,233,1) 57%, rgba(144,185,221,1) 65%, rgba(88,147,197,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(219,236,252,1) 0%,rgba(173,205,233,1) 57%,rgba(144,185,221,1) 65%,rgba(88,147,197,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(219,236,252,1) 0%,rgba(173,205,233,1) 57%,rgba(144,185,221,1) 65%,rgba(88,147,197,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbecfc', endColorstr='#5893c5',GradientType=0 ); /* IE6-9 */


		&__wrap {
			margin: 0;
		}

		&__elem {
			width: 376px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 50px;

		&__elem {
			width: 708px;
			max-width: inherit;

			&:before {
				width: 63px;
				height: 75px;
				margin: -37px 0 0 -32px;
			}

			&:after {
				width: 174px;
				height: 126px;
				margin: -63px 0 0 -87px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-bottom: 70px;

		&__elem {
			width: 855px;
		}
	}
}

.comments {
	width: 100%;
	overflow: hidden;
	background: #fff;
	padding-top: 20px;
	position: relative;
	padding-bottom: 44px;

	.container {
		z-index: 50;
		position: relative;
	}

	&:after {
		bottom: 0;
		right: 0;
		z-index: 10;
		content: '';
		left: -10px;
		height: 212px;
		display: none;
		position: absolute;
		background: url("../img/bottom_lines.svg");
		background-size: cover;
	}

	&__slider {
		position: relative;
		padding-bottom: 40px;

		&_wrap {
			margin: 0 auto 50px auto;
			max-width: 400px;
			padding: 20px;
		//	background: #fff;
			border: 1px solid rgba(112, 112, 112, .16);
			@include border-radius(5px);
			@include box-shadow(10px 10px 10px rgba(0, 0, 0, .09));
		}

		&_item {
			outline:none;
			border: none;
		}
	}

	&__item {
		position: relative;
		@include clearfix();

		&_image {
			z-index: 1;
			display: none;
			width: 359px;
			height: 366px;
			position: absolute;
			background: url("../img/reviews_b.png") 50% 50% no-repeat;
			background-size: cover;

			&_wrap {
				top: 50%;
				left: 50%;
				width: 200px;
				height: 200px;
				overflow: hidden;
				position: absolute;
				margin: -100px 0 0 -100px;
				@include border-radius(50%);
			}
		}

		&_body {
			z-index: 10;
			position: relative;
		}

		&_title {
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 1.8rem;
			margin-bottom: 2rem;

			a {
				color: #005ca8;
				text-decoration: underline;

				&:hover {
					color: #005ca8;
					text-decoration: none;
				}
			}
		}

		&_text {
			color: #005ca8;
			font-size: 1.2rem;
			line-height: 2rem;
		}

		.btn-orange {
			display: none;
		}
	}

	.slick-dots {
		left: 0;
		right: 0;
		z-index: 200;
		top: auto;
		bottom: 0;
		margin: 0;
		padding: 20px 0 0 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;
		position: absolute;

		li {
			padding: 0 4px;
			position: relative;
			display: inline-block;


			button {
				width: 12px;
				height: 12px;
				border: none;
				outline: none;
				padding: 0;
				cursor: pointer;
				display: inline-block;
				background: transparent;
				@include border-radius(50%);
				@include transition(.3s);

				&:before {
					top: 50%;
					left: 50%;
					width: 6px;
					height: 6px;
					content: '';
					display: inline-block;
					margin: -3px 0 0 -3px;
					position: absolute;
					background: #ef7d00;
					@include border-radius(50%);

				}
			}

			&.slick-active {

				button {
					background: #ef7d00;
					@include transition(.3s);
				}
			}
		}
	}

	.slide_arrow {
		top: 50%;
		z-index: 50;
		color: #005ca8;
		cursor: pointer;
		font-size: 3rem;
		line-height: 3rem;
		position: absolute;
		margin-top: -1.5rem;
		display: none !important;

		&.slide_prev {
			left: 0;
		}

		&.slide_next {
			right: 0;
			left: auto;
		}
	}


	@media (min-width: $screen-sm-min) {
		padding-top: 40px;
		padding-bottom: 80px;

		&:after {
			display: block;
		}

		.h1 {
			margin-bottom: 30px;
		}

		&__slider {
			margin: 0 auto;

			&_wrap {

				max-width: inherit;
				margin-bottom: 0;
				border: none;
				@include border-radius(0);
				@include box-shadow(none);
			}
		}

		&__item {
			margin: 0 auto;
			max-width: 710px;
			min-height: 366px;

			&_image {
				top: 0;
				left: 0;
				display: block;
				position: absolute;
			}

			&_body {
				padding-top: 30px;
				padding-left: 320px;
			}

			&_text {
				margin-bottom: 3rem;
			}

			.btn-orange {
				display: inline-block;
			}
		}
	}

	@media (min-width: 850px) {

		&:after {
			height: 280px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 90px;

		&:after {
			height: 280px;
		}

		&__item {
			min-height: 386px;

			&_image {
				width: 379px;
				height: 386px;

				&_wrap {
					width: 220px;
					height: 220px;
					margin: -110px 0 0 -110px;
				}
			}

			&_body {
				padding-top: 50px;
				padding-left: 360px;
			}
		}

		.slide_arrow {
			display: inline-block !important;
		}
	}


	@media (min-width: $screen-lg-min) {

		&:after {
			height: 360px;
		}
	}

	@media (min-width: $screen-xl-min) {


		&__slider {
		}

		&__item {
			width: 860px;
			margin: 0 auto;
			max-width: 860px;
			min-height: 470px;

			&_image {
				width: 458px;
				height: 467px;

				&_wrap {
					width: 266px;
					height: 266px;
					margin: -133px 0 0 -133px;
				}
			}

			&_body {
				padding-top: 50px;
				padding-left: 435px;
			}

			&_text {
				margin-bottom: 90px;
			}
		}
	}

	@media (min-width: 1400px) {

		&:after {
			height: 518px;
		}
	}

	@media (min-width: 1920px) {

		&:after {
			height: 670px;
		}
	}
}

.news {
	max-width: 100%;
	overflow: hidden;
	padding-top: 40px;
	border-top: 1px solid #86BBE6;

	&__row {
		margin-bottom: 50px;
	}

	&__col {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 1px solid #86BBE6;
	}

	&_item {
		@include flexbox();
		@include flex-direction(column);

		&__post {
			display: block;
			color: #005ca8;
			text-decoration: none;
			@include order(3);

			&:hover {
				color: $color-orange;
				text-decoration: underline;

				.news_item__image {

					&:before {
						background: $color-orange;
					}
				}
			}
		}

		&__image {
			width: 220px;
			height: 220px;
			display: none;
			position: relative;
			margin-bottom: 2.5rem;

			&_wrap {
				width: 100%;
				height: 100%;
				overflow: hidden;
				@include border-radius(50%);
			}

			&:before {
				z-index: -1;
				content: '';
				top: 5px;
				left: 15px;
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				background: #D5E9F9;
				@include border-radius(50%);
				@include transition(.3s);
			}
		}

		&__title {
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 1.8rem;
			margin-bottom: 1rem;
			text-decoration: underline;
		}

		&__date {
			font-weight: 700;
			font-size: 1.1rem;
			line-height: 1.8rem;
			color: $color-orange;
			margin-bottom: 1rem;
			@include order(1);
		}

		&__tag {
			@include order(2);

			a {
				border: none;
				outline: none;
				color: #005CA8;
				font-size: 1.1rem;
				line-height: 1.5rem;
				background: #d5e9f9;
				text-align: center;
				margin-bottom: 1rem;
				text-decoration: none;
				display: inline-block;
				padding: 0.5rem 1.5rem;
				font-family: $font-family-head;
				@include border-radius(12px);

				&:hover {
					color: #fff;
					text-decoration: none;
					background: $color-orange;
				}
			}
		}

		&__intro {
			display: none;
			color: #1d3058;
			font-size: 1.2rem;
			line-height: 1.8rem;
			margin-bottom: 2rem;
		}

		&__link {
			color: #ef7d00;
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 2rem;
			text-decoration: underline;
			@include order(4);

			&:hover {
				color: #005ca8;
				text-decoration: underline;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		border-top: none;

		.h1 {
			margin-bottom: 6rem;
		}

		&__row {
			margin: 0 -3.5rem 2rem -3.5rem;
			@include flexbox();
			@include flex-wrap(wrap);
		}

		&__col {
			width: 50%;
			padding: 0 3.5rem;
			margin-bottom: 4rem;
			border-bottom: none;
		}

		&_item {
			display: block;

			&__title {
				margin-bottom: 1.5rem;
			}

			&__intro {
				display: block;
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

		&__row {
			margin: 0 -3rem 0 -3rem;
		}

		&__col {
			width: 33.33%;
			padding: 0 3rem;
			margin-bottom: 7rem;
		}

		&_item {

			&__image {
				display: block;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__row {
			margin: 0 -6.5rem;
		}

		&__col {
			padding: 0 6.5rem;
			margin-bottom: 9rem;
		}

		&_item {

			&__image {
				width: 267px;
				height: 267px;
			}
		}
	}
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}