
.news_box {
	padding-bottom: 3rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid #86BBE6;
	@include flexbox();
	@include flex-direction(column);

	&__image {
		width: 180px;
		height: 180px;
		display: none;
		position: relative;

		&_wrap {
			width: 100%;
			height: 100%;
			overflow: hidden;
			@include border-radius(50%);
		}

		&:before {
			z-index: -1;
			content: '';
			top: 5px;
			left: 15px;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			background: #D5E9F9;
			@include border-radius(50%);
			@include transition(.3s);
		}
	}

	&__title {
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.8rem;
		margin-bottom: 1.5rem;
		text-decoration: underline;

		a {
			color: #005CA8;
			text-decoration: underline;

			&:hover {
				color: $color-orange;
				text-decoration: underline;
			}
		}
	}

	&__date {
		font-weight: 700;
		font-size: 1.1rem;
		line-height: 1.8rem;
		color: $color-orange;
		margin-bottom: 1rem;
		@include order(1);
	}

	&__tag {
		@include order(2);

		a {
			border: none;
			outline: none;
			color: #005CA8;
			font-size: 1.1rem;
			line-height: 1.5rem;
			background: #d5e9f9;
			text-align: center;
			margin-bottom: 1rem;
			text-decoration: none;
			display: inline-block;
			padding: 0.5rem 1.5rem;
			font-family: $font-family-head;
			@include border-radius(12px);

			&:hover {
				color: #fff;
				text-decoration: none;
				background: $color-orange;
			}
		}
	}

	&__intro {
		color: #1d3058;
		font-size: 1.2rem;
		line-height: 1.8rem;
		margin-bottom: 1rem;
	}

	&__link {

		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		text-decoration: underline;
		@include order(4);

		a {
			color: $color-orange;

			&:hover {
				color: #005CA8;
				text-decoration: underline;
			}
		}
	}


	&:hover {

		.news_box__image {
			&:before {
				background: $color-orange;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__title {
			margin-bottom: 0.5rem;
		}

		&__tag {
			margin-bottom: 1.5rem;
		}

		&__intro {
			margin-bottom: 2rem;
		}
	}

	@media (min-width: $screen-md-min) {
		display: block;
		min-height: 210px;
		padding-left: 220px;
		position: relative;
		@include clearfix();

		&__image {
			top: 0;
			left: 0;
			display: block;
			position: absolute;
		}
	}

	@media (min-width: $screen-lg-min) {
		min-height: 260px;
		padding-left: 260px;
		margin-bottom: 4rem;
		padding-bottom: 4rem;
		position: relative;
		@include clearfix();

		&__image {
			top: 0;
			left: 0;
			width: 220px;
			height: 220px;
			display: block;
			position: absolute;
		}

		&__title {
			font-size: 1.6rem;
			line-height: 2rem;
		}

		&__intro {
			font-size: 1.4rem;
			line-height: 2.1rem;
		}
	}

	@media (min-width: 1440px) {
		min-height: 315px;
		padding-left: 327px;
		margin-bottom: 5rem;
		padding-bottom: 5rem;

		&__image {
			width: 267px;
			height: 267px;
		}

		&__title {
			font-size: 2rem;
			line-height: 2.4rem;
		}

		&__date {
			font-size: 1.6rem;
			line-height: 2rem;
			margin-bottom: 2rem;
		}

		&__tag {
			margin-bottom: 2.5rem;
		}

		&__intro {
			font-size: 1.8rem;
			line-height: 2.4rem;
		}
	}

	@media (min-width: $screen-xxl-min) {
		max-width: 1500px;
		padding-bottom: 6rem;
		margin-bottom: 6rem;

		&__title {
			font-size: 2.4rem;
			line-height: 2.8rem;
		}

		&__date {
			font-size: 2rem;
			line-height: 2rem;
			margin-bottom: 2.5rem;
		}

		&__intro {
			font-size: 2.4rem;
			line-height: 3.2rem;
		}

		&__link {
			font-size: 2rem;
			line-height: 2.4rem;
		}
	}
}

.news {

	&_content {
		color: #053760;
		font-size: 1.2rem;
		line-height: 1.8rem;
		position: relative;

		p {
			margin-bottom: 15px;
		}
	}

	&_header {
		margin-bottom: 20px;

		&__image {
			display: none;

			&_wrap {

			}
		}
	}

	&_title {
		color: #005CA8;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.3;
		text-align: center;
		margin-bottom: 15px;
	}

	&_date {
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 1.5;
		color: $color-orange;
		text-align: center;
	}

	&_author {
		font-size: 0;
		line-height: 0;
		text-align: center;
		margin-bottom: 20px;


		&__col {
			padding: 0 5px;
			display: inline-block;

			&_text {
				display: block;
				padding-top: 10px;
			}
		}

		&__photo {
			width: 90px;
			height: 90px;
			overflow: hidden;
			display: inline-block;
			@include border-radius(50%);
		}

		&__text {
			color: #053760;
			width: 100%;
			font-size: 1.2rem;
			line-height: 1.8rem;
		}
	}

	&_gallery {
		padding-top: 15px;
		padding-bottom: 20px;

		&__mobile {
			padding: 0 50px;
			position: relative;

			&_item {
				border: none;
				outline: none;
			}

			.image_item {
				margin: 0 auto;
			}

			.slide_arrow {
				top: 50%;
				z-index: 50;
				width: 30px;
				height: 30px;
				color: #005CA8;
				padding: 5px 0;
				font-size: 20px;
				line-height: 20px;
				cursor: pointer;
				text-align: center;
				position: absolute;
				display: inline-block;
				margin-top: -15px;
				@include border-radius(50%);

				&:hover {
					opacity: 0.7;
				}

				&.slide_prev {
					left: 0;
				}

				&.slide_next {
					right: 0;
				}
			}
		}

		&__desktop {
			display: none;
			overflow: hidden;

			.image_item {
				margin: 0 auto;
			}
		}

		&__row {

		}

		&__col {
			width: 100%;
			margin-bottom: 35px;
		}
	}

	&_image {
		max-width: 1200px;
		margin: 0 auto 30px auto;

		&__text {
			text-align: center;
			padding-top: 10px;
		}
	}

	@media (min-width: $screen-sm-min) {

		&_title {
			text-align: left;
		}

		&_date {
			text-align: left;
		}

		&_author {
			width: 100%;
			display: table;
			text-align: left;
			table-layout: fixed;

			&__col {
				width: 100px;
				padding: 0 10px 0 0;
				display: table-cell;
				table-layout: fixed;
				vertical-align: middle;

				&_text {
					width: auto;
					table-layout: fixed;
					padding: 0 0 0 10px;
					display: table-cell;
					vertical-align: middle;
				}
			}
		}

		&_gallery {

			&__row {
				@include clearfix();
			}

			&__col {
				width: 50%;
				float: left;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&_header {
			position: relative;

			&__wrap {
				width: 500px;
			}

			&__image {
				right: 0;
				bottom: 0;
				width: 180px;
				height: 180px;
				display: block;
				position: absolute;

				&_wrap {
					content: '';
					z-index: 10;
					width: 100%;
					height: 100%;
					overflow: hidden;
					position: relative;
					@include border-radius(50%);
				}

				&:before {
					top: 0;
					z-index: 1;
					left: 10px;
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					background: #D5E9F9;
					@include border-radius(50%);
				}
			}
		}

		&_content {
			font-size: 1.4rem;
			line-height: 2rem;
		}

		&_author {
			margin-bottom: 30px;

			&__text {
				font-size: 14px;
			}
		}

		&_gallery {
			padding-top: 30px;
			padding-bottom: 40px;

			&__mobile {
				display: none;
			}

			&__desktop {
				display: block;
			}

			&__row {
				margin: 0 -40px;
			}

			&__col {
				width: 33.33%;
			}
		}

	}

	@media (min-width: $screen-lg-min) {

		&_title {
			font-size: 2rem;
		}

		&_date {
			margin-bottom: 30px;
		}

		&_image {

			&__text {
				padding-top: 15px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&_title {
			font-size: 2.4rem;
		}

		&_header {

			&__text {
				width: 700px;
			}

			&__wrap {
				width: 680px;
			}

			&__image {
				right: 70px;
				width: 220px;
				height: 220px;
			}
		}

		&_content {
			width: 700px;

			p {
				margin-bottom: 20px;
			}
		}

		&_gallery {
			padding-top: 40px;

			&__row {
				margin: 0 -9px;
			}

			&__col {
				padding: 0 9px;
			}
		}

		&_image {

			&__text {
				padding-top: 15px;
			}
		}

		&_author {
			margin-bottom: 40px;
		}
	}

	@media (min-width: 1440px) {

		&_header {

			&__image {
				width: 267px;
				height: 267px;
			}

			&__text {
				width: 860px;
			}
		}

		&_content {
			width: 860px;
		}

		&_gallery {

			&__row {
				margin: 0 -15px;
			}

			&__col {
				padding: 0 15px;
			}
		}

		&_image {

			&__text {
				padding-top: 20px;
			}
		}
	}

	@media (min-width: $screen-xxl-min) {

		&_title {
			font-size: 2.8rem;
		}

		&_date {
			font-size: 1.6rem;
			margin-bottom: 30px;
		}

		&_header {

			&__wrap {
				width: 975px;
			}

			&__text {
				width: 975px;
			}

			&__image {
				right: 110px;
			}
		}

		&_content {
			width: 975px;
			font-size: 1.8rem;
			line-height: 2.6rem;

			p {
				margin-bottom: 30px;
			}
		}

		&_gallery {

			&__row {
				margin: 0 -29px;
			}

			&__col {
				padding: 0 29px;
			}
		}
	}


	@media (min-width: $screen-extra-min) {

		&_title {
			font-size: 3.5rem;
		}

		&_date {
			font-size: 2rem;
		}

		&_header {

			&__image {
				right: 160px;
			}

			&__text {
				width: 1110px;
			}
		}

		&_content {
			width: 1110px;
			font-size: 2.4rem;
			line-height: 3.2rem;
		}

		&_gallery {

			&__row {
				margin: 0 -65px;
			}

			&__col {
				padding: 0 65px;
			}
		}

		&_author_right {
			top: 0;
			left: 100%;
			width: auto;
			margin-left: 90px;
			position: absolute;
		}
	}
}

.image_item {
	width: 180px;
	height: 188px;
	display: block;
	position: relative;

	&__item {
		width: 180px;
		height: 180px;
		display: block;
		overflow: hidden;
		@include border-radius(50%);
	}

	&__loop {
		right: 0;
		bottom: 0;
		width: 60px;
		height: 60px;
		position: absolute;
		background: rgba(213,233,249,0.84);
		@include border-radius(50%);
		@include transition(0.3s);

		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 30px;
			height: 30px;
			position: absolute;
			display: inline-block;
			margin: -15px 0 0 -15px;
			background: url("../img/icon__loop.svg") 50% 50% no-repeat;
			background-size: cover;
		}
	}

	&:hover {

		.image_item__loop {
			bottom: 50%;
			right: 50%;
			margin: 0 -30px -25px 0;
		}
	}

	@media (min-width: $screen-xl-min) {
		width: 220px;
		height: 231px;

		&__item {
			width: 220px;
			height: 220px;

			&:hover {

				.image_item__loop {
					bottom: 50%;
					right: 50%;
					margin: 0 -15px -15px 0;
				}
			}
		}

		&__loop {
			width: 70px;
			height: 70px;

			&:before {
				width: 35px;
				height: 35px;
				margin: -18px 0 0 -17px;
			}
		}
	}


	@media (min-width: $screen-xxl-min) {
		width: 267px;
		height: 282px;

		&__item {
			width: 267px;
			height: 267px;
		}

		&:hover {

			.image_item__loop {
				margin: 0 -35px -20px 0;
			}
		}


	}
}

.content_list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding-left: 20px;
		position: relative;
		margin-bottom: 15px;

		&:before {
			left: 0;
			top: 6px;
			width: 5px;
			height: 5px;
			content: '';
			position: absolute;
			background: #3981BB;
			display: inline-block;
			@include border-radius(50%);
		}
	}

	@media (min-width: $screen-md-min) {

		li {
			margin-bottom: 20px;

			&:before {
				top: 8px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}

	@media (min-width: $screen-xxl-min) {

		li {

			&:before {
				top: 11px;
				width: 7px;
				height: 7px;
			}
		}
	}
}

.blue_box {
	padding: 25px 25px;
	background: #E8F0F6;
	margin: 0 -15px 25px -15px;

	@media (min-width: $screen-sm-min) {
		padding: 30px;
		margin: 0 0 35px 0;
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		margin-bottom: 60px;
	}

	@media (min-width: $screen-xxl-min) {

	}
}

.content_product {
	max-width: 300px;
	padding: 15px 20px;
	background: #E8F0F6;
	margin: 0 auto 30px auto;
	@include border-radius(3px);

	&__image {
		width: 240px;
		margin: 0 auto 20px auto;
	}

	&__description {
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 15px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		max-width: inherit;
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		margin-bottom: 60px;
	}

	@media (min-width: $screen-xxl-min) {

		&__description {
			font-size: 1.6rem;
			line-height: 2.2rem;
		}
	}
}

.box_row {
	@include clearfix();

	@media (min-width: $screen-sm-min) {
		margin: 0 -30px;

		&__left {
			width: 50%;
			float: left;
			padding: 0 30px;
		}

		&__right {
			width: 50%;
			float: right;
			padding: 0 30px;
		}
	}

	@media (min-width: $screen-xxl-min) {
		margin: 0 -50px;

		&__left {
			padding: 0 50px;
		}

		&__right {
			padding: 0 50px;
		}
	}
}

.news_image {
	position: relative;

	&__link {
		display: block;
		cursor: pointer;
		position: relative;
	}

	&__loop {
		top: 50%;
		left: 50%;
		width: 60px;
		height: 60px;
		position: absolute;
		margin: -30px 0 0 -30px;
		background: rgba(213,233,249,0.84);
		@include border-radius(50%);
		@include transition(0.3s);

		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 30px;
			height: 30px;
			position: absolute;
			display: inline-block;
			margin: -15px 0 0 -15px;
			background: url("../img/icon__loop.svg") 50% 50% no-repeat;
			background-size: cover;
		}
	}
}

