.header {
	top: 0;
	left: 0;
	right: 0;
	height: 72px;
	z-index: 1050;
	padding: 10px 0;
	background: #F6FAFD;
	position: fixed;
	@include box-shadow(0px 3px 2px rgba(0, 0, 0, 0.25));

	&__logo {
		float: left;
		width: 80px;
		z-index: 100;
		display: block;
		margin: 0 0 0 -5px;
		position: relative;
	}

	&__contact {
		margin: 0;
		float: left;
		font-size: 12px;
		font-weight: 700;
		line-height: 16px;
		list-style: none;
		padding: 10px 0 0 10px;

		> li {

			a {
				text-decoration: none;
				color: $color-dark-blue;
			}

			&:last-child {

				a {
					color: $color-orange;
				}
			}
		}
	}

	&__order {
		top: 50%;
		right: 55px;
		overflow: hidden;
		margin-top: -21px;
		position: absolute;

		i {
			font-size: 36px;
			line-height: 36px;
		}

		a {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-size: 0;
			line-height: 0;
			position: absolute;
			text-decoration: none;
		}

		&_mobile {
			z-index: 5;
			display: inline-block;
		}

		&_desktop {
			z-index: -1;
			display: none;
		}
	}

	&__toggle {
		top: 50%;
		right: 12px;
		font-size: 0;
		z-index: 1000;
		line-height: 0;
		margin-top: -21px;
		position: absolute;
		text-align: center;
		padding: 12px 9px 2px 9px;
		background: $color-dark-blue;

		span {
			width: 100%;
			height: 2px;
			background: #fff;
			position: relative;
			margin-bottom: 3px;
			display: inline-block;
		}

		&:hover {
			background: #85BBE5;
			border-color: #e3edf5;
		}
	}

	&__nav {
		top: 100%;
		left: 10px;
		right: 10px;
		display: block;
		position: absolute;
		background: #e3edf5;
		margin-top: -1000px;
		max-height: calc(100vh - 75px);
		@include border-radius(5px);
		@include box-shadow(0 3px 6px rgba(0, 0, 0, .47));
		@include transition(0.4s);

		&:before {
			top: -19px;
			right: 13px;
			content: '';
			position: absolute;
			border: 10px solid transparent;
			border-bottom: 10px solid #e3edf5;
		}

		&_container {
			position: relative;
			overflow-y: auto;
			max-height: calc(100vh - 75px);
			@include flexbox();
			@include flex-direction(column);
		}
	}

	&__modal {
		top: 100%;
		left: 10px;
		right: 10px;
		display: block;
		position: absolute;
		background: #e3edf5;
		margin-top: -1000px;
		max-height: calc(100vh - 75px);
		@include border-radius(5px);
		@include box-shadow(0 3px 6px rgba(0, 0, 0, .47));
		@include transition(0.4s);

		&:before {
			top: -19px;
			right: 62px;
			content: '';
			position: absolute;
			border: 10px solid transparent;
			border-bottom: 10px solid #e3edf5;
		}

		&_container {
			overflow-y: auto;
			padding: 20px 20px;
			position: relative;
			max-height: calc(100vh - 75px);
			@include flexbox();
			@include flex-direction(column);
		}

		&_title {
			color: #005ca8;
			font-size: 16px;
			font-weight: 700;
			line-height: 20px;
			text-align: center;
			margin-bottom: 20px;
			text-transform: uppercase;
		}
	}

	&__search {
		padding: 15px;
		@include order(1);

		&_toggle {
			top: 0;
			right: -3px;
			color: #fff;
			width: 42px;
			height: 42px;
			display: none;
			cursor: pointer;
			font-size: 18px;
			line-height: 18px;
			position: absolute;
			text-align: center;
			background: #85BBE5;
			text-decoration: none;
			border: 3px solid #fff;
			@include border-radius(50%);
			@include transition(0.25s);

			i {
				top: 50%;
				left: 50%;
				width: 20px;
				height: 20px;
				margin: -10px 0 0 -10px;
				display: inline-block;
				position: absolute;
			}

			&:hover {
				color: #fff;
				background: #EF7D00;
				border-color: #fad6af;
				text-decoration: none;
				@include transition(0.25s);
			}
		}

		&_form {
			position: relative;
			padding: 3px 50px 3px 0;
			@include clearfix();
		}

		&_input {
			margin: 0;
			color: #000;
			width: 100%;
			outline: none;
			height: 36px;
			font-size: 14px;
			font-weight: 400;
			overflow: hidden;
			background: #fff;
			line-height: 20px;
			position: relative;
			display: inline-block;
			text-decoration: none;
			padding: 7px 15px;
			border: 1px solid #86bbe6;
			@include placeholder(#444);
			@include transition(.3s);
			@include border-radius(3px);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus {
				@include placeholder(transparent);
				@include transition(.3s);
			}
		}

		&_btn {
			top: 0;
			outline: none;
			right: -3px;
			color: #fff;
			width: 42px;
			height: 42px;
			display: block;
			cursor: pointer;
			font-size: 0;
			line-height: 0;
			position: absolute;
			text-align: center;
			background: #85BBE5;
			text-decoration: none;
			border: 3px solid #e3edf5;
			@include border-radius(50%);
			@include transition(0.25s);

			i {
				top: 50%;
				left: 50%;
				width: 20px;
				height: 20px;
				margin: -10px 0 0 -10px;
				display: inline-block;
				position: absolute;
			}

			&:hover {
				color: #fff;
				background: #EF7D00;
				border-color: #fad6af;
				text-decoration: none;
				@include transition(0.25s);
			}
		}
	}

	@media (min-width: 360px) {
		padding: 11px 0 12px 0;
		height: 84px;

		&__logo {
			margin: 0;
			width: 94px;
		}

		&__order {
			right: 60px;
		}

		&__contact {
			font-size: 14px;
			line-height: 18px;
			padding: 12px 0 0 15px
		}

		&__nav {
			max-height: calc(100vh - 85px);

			&_container {
				max-height: calc(100vh - 75px);
			}
		}

		&_modal {
			max-height: calc(100vh - 85px);

			&_container {
				padding: 20px 30px;
				max-height: calc(100vh - 75px);
			}
		}
	}

	@media (min-width: 400px) {

		&__contact {
			padding: 14px 0 0 15px
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 13px 0 12px 0;
		height: 90px;

		&__logo {
			width: 100px;
		}

		&__order {
			left: 280px;
			right: auto;

			&_mobile {
				display: none;
				z-index: -1;
				visibility: hidden;
			}

			&_desktop {
				z-index: 5;
				display: inline-block;
			}
		}

		&__toggle {
			display: none;
		}

		&__nav {
			top: auto;
			left: auto;
			right: auto;
			height: auto;
			display: block;
			margin-top: 0;
			margin-left: 370px;
			position: relative;
			padding: 12px 0 0 0;
			background: transparent;
			@include box-shadow(none);
			@include transition(0s);

			&:before {
				display: none;
			}

			&_container {
				height: auto;
				width: 100%;
				display: table;
				position: relative;
				overflow: inherit;
				border-top: none;
				@include clearfix();
			}
		}

		&_modal {
			display: none;
		}

		&__search {
			top: 0;
			right: 0;
			padding: 0;
			width: 42px;
			height: 42px;
			display: table-cell;
			vertical-align: middle;

			&.open {

				.header__search_form {
					display: block;
				}

				.header__search_toggle {

					&:after,
					&:before {
						top: 50%;
						left: 50%;
						content: '';
						width: 20px;
						height: 2px;
						background: #fff;
						position: absolute;
						display: inline-block;
						margin: -1px 0 0 -10px;
					}

					&:after {
						@include rotate(45deg);
					}

					&:before {
						@include rotate(-45deg);
					}

					i {
						display: none;
					}
				}
			}

			&_toggle {
				z-index: 50;
				display: block;
			}

			&_form {
				top: 0;
				z-index: 10;
				right: 0;
				width: 100%;
				display:none;
				background: #F6FAFD;
				padding-right: 105px;
				position: absolute;
			}

			&_btn {
				right: 48px;
				background: #005ca8;
				border-color: #ffffff;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__nav {
			margin-left: 310px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {
			margin-left: 340px;
		}
	}

	@media (min-width: 1920px) {
		height: 110px;

		&__logo {
			width: 136px;
		}

		&__contact {
			font-size: 20px;
			line-height: 30px;
			padding: 10px 0 0 20px;
		}

		&__order {
			left: 400px;
			width: 50px;
			height: 50px;
			margin-top: -25px;

			i {
				font-size: 44px;
				line-height: 44px
			}
		}

		&__nav {
			padding-top: 16px;
			margin-left: 450px;

			&_container {
		//		padding: 16px 60px 0 0;
			}
		}

		&__search {
			width: 50px;
			height: 50px;

			&_toggle {
				width: 50px;
				height: 50px;

				i {
					width: 22px;
					height: 22px;
					margin: -11px 0 0 -11px;
				}
			}

			&_form {
				padding: 7px 140px 7px 0;
			}

			&_btn {
				right: 65px;
				width: 50px;
				height: 50px;

				i {
					width: 22px;
					height: 22px;
					margin: -11px 0 0 -11px;
				}
			}
		}
	}
}


.topnav {
	text-align: center;
	@include order(2);

	> ul {
		margin: 0;
		padding: 0;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		list-style: none;
		border-top: 1px solid #86bbe6;

		> li {
			margin: 0;
			padding: 0;
			border-bottom: 1px solid #86bbe6;

			> a {
				text-decoration: none;
				display: inline-block;
				text-transform: uppercase;
				padding: 10px 15px 10px 30px;

				&:hover {
					color: #ee7d00;
				}
			}

			&.active {

				a {
					color: #ee7d00;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		text-align: left;
		display: table-cell;
		vertical-align: middle;

		> ul {
			font-size: 11px;
			border-top: none;
			@include clearfix();

			> li {
				width: 25%;
				float: left;
				padding: 0 10px;
				border-bottom: none;

				> a {
					padding: 0;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		> ul {
			width: 100%;
			text-align: center;
			@include flexbox();
			@include justify-content(space-between);

			> li {
				width: auto;
				float: none;
				text-align: center;
				padding: 0 5px;
				@include flex-grow(1);
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-right: 40px;
	}

	@media (min-width: 1920px) {

		> ul {
			font-size: 16px;
		}
	}
}

