.search {
	text-align: center;
	position: relative;
	margin-bottom: 35px;

	&__input {
		margin-bottom: 20px;
	}

	&__btn {
		color: #fff;
		border: none;
		outline: none;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		cursor: pointer;
		padding: 8px 22px;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		text-decoration: none;
		display: inline-block;
		background-color: #005CA8;
		font-family: $font-family-head;
		@include transition(.3s);
		@include border-radius(18px);

		i {
			margin-right: 10px;
		}

		&:hover {
			color: #fff;
			background: #3980a8;
		}
	}

	&__summary {
		color: #053760;
		font-size: 12px;
		font-weight: 700;
		line-height: 16px;
		text-align: center;
		margin-bottom: 20px;
	}

	&__result {
		font-size: 12px;
		list-style: none;
		margin: 0 0 30px 0;
		padding: 0 0 0 25px;

		> li {
			padding: 10px 0;
			position: relative;
			border-bottom: 1px solid #CDE3F4;

			&:before {
				top: 15px;
				left: -25px;
				width: 5px;
				height: 5px;
				content: '';
				position: absolute;
				background: #CFE4F4;
				display: inline-block;
				@include border-radius(50%);
			}
		}


		h4 {
			font-size: 12px;
			font-weight: 400;
			margin-bottom: 10px;

			a {
				color: #1166AD;
				text-decoration: underline;

				&:hover {
					color: #1166AD;
					text-decoration: none;
				}
			}
		}

		&_link {
			color: #1D3058;
			text-decoration: none;

			&:hover {
				color: #1D3058;
				text-decoration: underline;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		position: relative;
		padding-right: 125px;
		margin-bottom: 25px;

		&__btn {
			top: 0;
			right: 0;
			position: absolute;
		}

		&__summary {
			font-size: 14px;
			line-height: 20px;
		}

		&__result {
			font-size: 14px;
			margin-bottom: 45px;

			> li {
				padding-top: 20px;
				padding-bottom: 15px;

				&:before {
					top: 25px;
					width: 7px;
					height: 7px;
				}
			}

			h4 {
				font-size: 14px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 35px;

		&__result {
			margin-bottom: 50px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

		&__result {
			margin: 0 125px 50px 125px;
		}
	}

	@media (min-width: 1440px) {
		width: 1060px;
		padding-right: 140px;
		margin: 0 auto 65px auto;

		.form-control {
			height: 46px;
			font-size: 18px;
			line-height: 20px;
			padding: 12px 15px;
		}

		&__btn {
			font-size: 18px;
			line-height: 20px;
			padding: 13px 25px;
			@include border-radius(23px);
		}

		&__summary {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 70px;
		}

		&__result {
			width: 1060px;
			font-size: 18px;
			padding-right: 140px;
			margin: 0 auto 90px auto;

			> li {

			}

			h4 {
				font-size: 18px;
			}
		}
	}

	@media (min-width: $container-extra) {
		padding-right: 180px;
		width: 1192px;

		&__summary {
			font-size: 24px;
			line-height: 20px;
		}

		.form-control {
			height: 56px;
			font-size: 24px;
			line-height: 30px;
			padding: 12px 15px;
		}

		&__btn {
			font-size: 21px;
			line-height: 30px;
			padding: 13px 35px;
			@include border-radius(28px);
		}

		&__result {
			width: 1192px;
			font-size: 24px;
			padding-right: 190px;

			h4 {
				font-size: 24px;
			}
		}
	}
}
