.main_about {
	padding-bottom: 0;

	@media (min-width: $screen-xl-min) {
		padding-top: 0;
	}
}

.about_top {
	z-index: 50;
	background: #fff;
	position: relative;

	.container {
		padding-bottom: 20px;
		position: relative;
	}

	&__header {
		color: $color-dark-blue;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		margin: 0 0 25px 0;
		padding: 15px 0 0 0;
		text-align: center;
		font-family: $font-family-head;

		span {
			display: block;
		}

		strong {
			display: block;
			font-size: 24px;
			line-height: 30px;
			text-transform: uppercase;
		}
	}

	&__text {
		font-size: 18px;
		font-weight: 700;
		line-height: 21px;
		max-width: 390px;
		margin: 0 auto;
		color: $color-dark-blue;
		text-align: center;
	}

	&__image {
		width: 270px;
		height: 270px;
		display: none;
		position: relative;

		&:before {
			z-index: -1;
			content: "";
			top: 5px;
			left: 15px;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			background: #0861AA;
			@include border-radius(50%);
			@include transition(0.3s);
		}

		&_wrap {
			width: 100%;
			height: 100%;
			overflow: hidden;
			@include border-radius(50%);
		}
	}

	@media (min-width: $screen-sm-min) {

		&__header {
			padding-top: 30px;
		}
	}

	@media (min-width: $screen-md-min) {
		height: 375px;
		color: #fff;
		margin-bottom: 60px;
		background: url("../img/about__top_bg.jpg") 50% 100% no-repeat;
		background-size: cover;

		.container {
			height: 300px;
		}

		&__header {
			color: #fff;
			font-size: 24px;
			line-height: 32px;
			padding-top: 0;
			margin-bottom: 60px;

			span {
				margin-bottom: 10px;
			}

			strong {
				font-size: 34px;
				line-height: 42px;
			}
		}

		&__text {
			color: #fff;
			font-size: 21px;
			line-height: 24px;
		}

		&__image {
			right: 15px;
			bottom: -91px;
			display: block;
			position: absolute;
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 420px;

		.breadcrumbs {
			margin-bottom: 50px;
		}
	}

	@media (min-width: $screen-xl-min) {
		height: 470px;
		margin-bottom: 0;

		.container {
			height: 375px;
		}


		&__text {
			font-size: 24px;
			line-height: 28px;
		}

		&__image {
			bottom: -10px;
		}
	}

	@media (min-width: 1440px) {

		&__image {
			width: 292px;
			height: 292px;
			bottom: -50px;
		}
	}

	@media (min-width: $screen-xxl-min) {
		height: 540px;
		margin-bottom: 50px;

		.container {
			height: 435px;
		}

		.breadcrumbs {
			margin-bottom: 60px;
		}

		&__header {
			margin-bottom: 130px;

			span {
				margin-bottom: 15px;
			}
		}

		&__image {
			bottom: -90px;
		}
	}

	@media (min-width: $screen-extra-min) {
		height: 660px;

		.container {
			height: 540px;
		}

		.breadcrumbs {
			margin-bottom: 75px;
		}

		&__header {
			margin-bottom: 205px;
		}

		&__image {
			bottom: -100px;
		}
	}
}

.progress {
	margin-bottom: 30px;
	position: relative;

	&__first {
		width: 280px;
		position: relative;
		text-align: center;
		margin: 0 auto 25px auto;

		&_text {
			top: 50%;
			left: 50%;
			width: 118px;
			height: 118px;
			color: #3E84BE;
			font-size: 0;
			line-height: 0;
			padding-top: 37px;
			position: absolute;
			text-align: center;
			margin: -59px 0 0 -59px;
			@include border-radius(50%);
			@include gradient-vertical(#ffffff,#CEE3F8);

			strong {
				display: block;
				font-size: 24px;
				line-height: 24px;
			}

			span {
				display: block;
				font-size: 13px;
				line-height: 15px;
			}
		}
	}

	&__heading {
		width: 280px;
		height: 280px;
		overflow: hidden;
		text-align: center;
		font-size: 14px;
		line-height: 21px;
		color: #3E84BE;
		margin: 0 auto 25px auto;
		@include border-radius(50%);
		@include gradient-vertical(#ffffff,#CEE3F8);

		&_row {
			width: 100%;
			display: table;
		}

		&_col {
			height: 280px;
			padding: 0 15px;
			display: table-cell;
			vertical-align: middle;
		}

		strong {
			font-size: 24px;
			line-height: 24px;
			display: block;
			margin-bottom: 5px;
		}

		span {
			display: block;
		}

		b {
			display: block;
			font-size: 24px;
			line-height: 24px;
			padding-top: 20px;
		}
	}

	&__text {
		color: #1D3058;
		font-size: 12px;
		line-height: 18px;
	}

	@media (min-width: $screen-sm-min) {
		margin-bottom: 0;

		&__first {
			top: 0;
			left: 0;
			margin: 0;
			position: absolute;
		}

		&__heading {
			top: 0;
			margin: 0;
			position: absolute;
		}

		&__text {
			width: 100%;
			display: table;
			font-size: 14px;
			line-height: 21px;

			&_wrap {
				height: 290px;
				display: table-cell;
				vertical-align: middle;
			}
		}

		&_left {
			padding-left: 300px;

			.progress__heading {
				left: 0;
			}
		}

		&_right {
			padding-right: 300px;

			.progress__heading {
				right: 0;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__text {
			font-size: 14px;
			line-height: 24px;
		}

		&_left {
			padding-right: 150px;
			padding-left: 300px;

			.progress__heading {
				left: 0;
			}
		}

		&_right {
			padding-left: 150px;
			padding-right: 300px;

			.progress__heading {
				right: 0;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__text {
			font-size: 14px;
			line-height: 24px;
		}

		&_left {
			padding-right: 150px;
			padding-left: 325px;

			.progress__heading {
				left: 0;
			}
		}

		&_right {
			padding-left: 150px;
			padding-right: 325px;

			.progress__heading {
				right: 0;

			}
		}
	}

	@media (min-width: 1440px) {

		&__first {
			width: 319px;

			&_text {
				width: 135px;
				height: 135px;
				padding-top: 37px;
				margin: -68px 0 0 -68px;

				strong {
					display: block;
					font-size: 24px;
					line-height: 24px;
				}

				span {
					display: block;
					font-size: 16px;
					line-height: 18px;
				}
			}
		}

		&__heading {
			width: 320px;
			height: 320px;
			font-size: 16px;
			line-height: 24px;

			&_col {
				height: 320px;
				padding: 0 40px;
			}

			strong {
				margin-bottom: 10px;
			}

			span {
				display: block;
			}

			b {
				display: block;
				font-size: 24px;
				line-height: 24px;
				padding-top: 20px;
			}
		}

		&__text {
			font-size: 16px;
			line-height: 24px;
		}

		&_left {
			padding-right: 160px;
			padding-left: 380px;

			.progress__heading {
				left: 0;
			}
		}

		&_right {
			padding-left: 160px;
			padding-right: 380px;

			.progress__heading {
				right: 0;

			}
		}
	}
}



.about_bottom {
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	padding-bottom: 35px;
	color: $color-dark-blue;

	&__text {
		max-width: 500px;
		margin: 0 auto;
	}

	@media (min-width: $screen-sm-min) {
		margin-top: 60px;
		padding-top: 85px;
		padding-bottom: 80px;
		background: #fff url("../img/about__bottom_bg.png") 50% 0 no-repeat;
		background-size: cover;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 110px;
		padding-bottom: 100px;

		font-size: 16px;
		line-height: 22px;
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 120px;
		padding-bottom: 130px;
	}

	@media (min-width: 1440px) {
		padding-top: 150px;
		background-size: auto auto;
	}

	@media (min-width: $screen-xxl-min) {
		padding-top: 160px;
		font-size: 18px;
		line-height: 24px;
		background-size: auto auto;

		&__text {
			max-width: 540px;
		}
	}

	@media (min-width: $screen-extra-min) {
		margin-top: 80px;
		padding-top: 260px;
		padding-bottom: 240px;
		font-size: 24px;
		line-height: 32px;
		background-size: auto auto;

		&__text {
			max-width: 720px;
		}
	}
}


