// Color system

$color-white:               #fff !default;
$color-black:               #000 !default;
$color-orange:              #EF7D00 !default;
$color-blue:                #86BBE6 !default;
$color-dark-blue:           #005CA8 !default;
$color-light-blue:          #E3EDF5 !default;

$color-base:                $color-black;

// Fonts

$font-family-head:          'PFBeauSansPro', Arial, sans-serif !default;
$font-family-base:          'PFBeauSansPro', Arial, sans-serif !default;

$font-size-reset:           10px;

$font-size-base:            14px !default;
$font-size-lg:              ($font-size-base * 1.25) !default;
$font-size-sm:              ($font-size-base * .875) !default;

$font-weight-light:         300 !default;
$font-weight-normal:        400 !default;
$font-weight-bold:          700 !default;

$font-weight-base:          $font-weight-normal !default;
$line-height-base:          1.42857 !default;


// Links

$link-color:                $color-dark-blue !default;
$link-decoration:           underline !default;
$link-hover-color:          $color-dark-blue !default;
$link-hover-decoration:     none !default;


// Page

$body-bg:                   $color-white !default;
$body-color:                $color-black !default;


// Grid
$grid-columns: 12 !default; // Set number of columns in the grid


$screen-xs-min:                 0;
$screen-sm-min:                 768px !default;
$screen-md-min:                 1024px !default;
$screen-lg-min:                 1060px !default;
$screen-xl-min:                 1340px !default;
$screen-xxl-min:                1900px !default;
$screen-extra-min:              2370px !default;


$screen-xs-max:              ($screen-sm-min - 0.1) !default;
$screen-sm-max:              ($screen-md-min - 0.1) !default;
$screen-md-max:              ($screen-lg-min - 0.1) !default;
$screen-lg-max:              ($screen-xl-min - 0.1) !default;

$container-sm:               750px;
$container-md:               1000px;
$container-lg:               1030px;
$container-xl:               1310px;
$container-xxl:              1870px;
$container-extra:            2170px;



$gutter: 1.5rem !default; // Set gutter size

$content-well-max-width: "none" !default; // Set the max-width of the content well

// Breakpoints
// Create breakpoint range statements to be used in media queries
$breakpoint-xs-only: "only screen and (max-width: #{$screen-xs-max})"; // 0 -> xs-max range

$breakpoint-sm-up: "only screen and (min-width: #{$screen-sm-min})"; // sm-start -> up range

$breakpoint-sm-only: "only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})"; // sm-start -> sm-max range

$breakpoint-md-up: "only screen and (min-width: #{$screen-md-min})"; // md-start -> up range

$breakpoint-md-only: "only screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})"; // md-start -> md-max range

$breakpoint-lg-up: "only screen and (min-width: #{$screen-lg-min})"; // lg-start -> up range

$breakpoint-lg-only: "only screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max})"; // lg-start -> lg-max range

$breakpoint-xl-up: "only screen and (min-width: #{$screen-xl-min})"; // xl-start -> up range

$breakpoints-all: ($breakpoint-xs-only, $breakpoint-sm-up, $breakpoint-sm-only, $breakpoint-md-up, $breakpoint-md-only, $breakpoint-lg-up, $breakpoint-lg-only, $breakpoint-xl-up);
$breakpoint-ups: ($breakpoint-sm-up, $breakpoint-md-up, $breakpoint-lg-up, $breakpoint-xl-up);
$breakpoint-all-prefixes: ("xs", "xs-only", "sm", "sm-only", "md", "md-only", "lg", "lg-only", "xl");
$breakpoint-up-prefixes: ("xs", "sm", "md", "lg", "xl");
