@import "variables";

.topnav {

	@media (min-width: $screen-lg-min) {

		> ul {
			display: table;

			> li {
				display: table-cell;
			}
		}
	}
}

.news {

	@media (min-width: $screen-sm-min) {

		&__row {
			display: block;
		}

		&__col {
			float: left;
			display: block;
		}
	}
}

