.breadcrumbs {
	display: none;
	padding: 13px 0;
	background: rgb(3,94,169);
	background: -moz-linear-gradient(left, rgba(3,94,169,0.8) 0%, rgba(134,187,230,0.8) 100%);
	background: -webkit-linear-gradient(left, rgba(3,94,169,0.8) 0%,rgba(134,187,230,0.8) 100%);
	background: linear-gradient(to right, rgba(3,94,169,0.8) 0%,rgba(134,187,230,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#035ea9', endColorstr='#86bbe6',GradientType=1 );

	&__container {
		padding: 0 15px;
	}

	@media (min-width: $screen-md-min) {
		display: block;
		margin-bottom: 30px;

		&__container {
			padding: 0 134px;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 60px;
	}

	@media (min-width: 1920px) {

		&__container {
			padding: 0 175px;
		}
	}
}

.breadcrumb {
	margin:0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;

	> li {
		color: #fff;
		font-size: 11px;
		line-height: 19px;
		display: inline-block;

		&:after {
			content: '→';
			padding: 0 5px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		> a {
			color: #fff;
			text-decoration: underline;

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}