.btn-orange{
	color: #fff;
	outline: none;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	cursor: pointer;
	padding: 3px 26px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	border: 5px solid #fad6af;
	background-color: #ef7d00;
	font-family: $font-family-head;
	@include transition(.3s);
	@include border-radius(19px);

	i {
		margin-right: 10px;
	}

	&:hover {
		color: #ef7d00;
		background: #fff;
	}
}


.btn-blue {
	color: #fff;
	outline: none;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	cursor: pointer;
	padding: 3px 26px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	display: inline-block;
	border: 5px solid #86bbe6;
	background-color: #005ca8;
	@include transition(.3s);
	@include border-radius(19px);

	i {
		margin-right: 10px;
	}
}

.btn-blue:hover {
	color: #fff;
	text-decoration: none;
	background-color: #86bbe6;
}

.btn_adaptive {

	@media (min-width: $screen-xl-min) {
		font-size: 1.8rem;
		line-height: 2rem;
		padding: 14px 40px;
		@include border-radius(32px);
	}

	@media (min-width: $screen-xxl-min) {
		font-size: 2.4rem;
		line-height: 3rem;
		padding: 14px 70px;
		@include border-radius(37px);
	}
}


.btn-round {
	color: #fff;
	width: 42px;
	height: 42px;
	display: block;
	cursor: pointer;
	font-size: 18px;
	line-height: 18px;
	margin-top: -18px;
	text-align: center;
	background: #85BBE5;
	text-decoration: none;
	border: 3px solid #F6FAFD;
	@include border-radius(50%);
	@include transition(0.25s);

	&:hover {
		color: #fff;
		background: #EF7D00;
		border-color: #fad6af;
		text-decoration: none;
		@include transition(0.25s);
	}
}

.btn-top {
	right: 15px;
	top: 30px;
	width: 33px;
	height: 33px;
	display: block;
	position: absolute;

	svg {
		fill: #D2E5F5;
		@include transition(.3s);
	}

	&:hover {

		svg {
			fill: #96CEFE;
			@include transition(.3s);
		}
	}
}