.form-control {
	margin: 0;
	color: #000;
	width: 100%;
	outline: none;
	height: 36px;
	font-size: 12px;
	font-weight: 400;
	overflow: hidden;
	background: #fff;
	line-height: 20px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 7px 7px;
	border: 1px solid #86bbe6;
	@include placeholder(#444);
	@include transition(.3s);
	@include border-radius(3px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		border-color: #000;
		@include placeholder(transparent);
		@include transition(.3s);
	}
}

.form-select {
	margin: 0;
	color: #000;
	width: 100%;
	outline: none;
	height: 36px;
	font-size: 12px;
	font-weight: 400;
	overflow: hidden;
	line-height: 20px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 7px 25px 7px 7px;
	-webkit-appearance: none;
	background: #fff url('/img/icon_angle_down.png') 100% 50% no-repeat;
	border: 1px solid #86bbe6;
	@include placeholder(#444);
	@include transition(.3s);
	@include border-radius(3px);


	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';

	-ms-appearance: none;
	appearance: none!important;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&::-ms-expand {
		display: none;
	}

	&:focus {
		border-color: #000;
		@include placeholder(transparent);
		@include transition(.3s);
	}

	@media (min-width: $screen-md-min) {
		font-size: 14px;
	}
}

textarea.form-control {
	height: auto;
	resize: none;
}

.form-group {
	margin-bottom: 20px;
}

.form_legend {
	padding-right: 15px;
	position: relative;

	&_text {
		top: 0;
		right: 0;
		height: 36px;
		color: #005CA8;
		padding: 7px 0;
		display: block;
		position: absolute;
	}
}

.form-checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	display: inline-block;

	input {
		display: none;
	}

	span {
		cursor: pointer;
		font-size: 12px;
		line-height: 16px;
		position: relative;
		padding: 2px 0 2px 26px;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 20px;
			height: 20px;
			background: #fff;
			position: absolute;
			display: inline-block;
			border: 1px solid #86bbe6;
			@include border-radius(3px);
		}

		&:after {
			position: absolute;
			top: 4px;
			left: 4px;
			width: 12px;
			height: 12px;
			content: '';
			opacity: 0;
			background: #86bbe6;
			@include border-radius(2px);
		}
	}

	input:checked + span {

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.form_row {
	padding-bottom: 11px;
	position: relative;
	margin: 0 -7px 10px -7px;
	@include clearfix();

	&:before {
		bottom: 0;
		left: 7px;
		right: 7px;
		content: '';
		height: 1px;
		display: block;
		position: absolute;
		background: #86BBE6;
	}

	.form-group {
		margin-bottom: 0;
	}

	.form-checkbox {
		margin-top: 8px;
	}
}

.form_col_35,
.form_col_45,
.form_col_55,
.form_col_65 {
	float: left;
	padding: 0 7px;
}

.form_col_35 {
	width: 35%;
}


.form_col_45 {
	width: 45%;
}

.form_col_55 {
	width: 55%;
}

.form_col_65 {
	width: 65%;
}