.pagination {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -8px 20px -8px;
	list-style: none;
	@include clearfix();

	> li {
		width: 35px;
		height: 35px;
		display: inline-block;
		margin: 0 8px 12px 8px;

		> a,
		> span {
			width: 35px;
			height: 35px;
			color: #005CA8;
			font-size: 1.4rem;
			line-height: 1.9rem;
			background: #D5E9F9;
			text-align: center;
			text-decoration: none;
			padding: 8px 0 8px 0;
			display: inline-block;
			@include border-radius(50%);

			&:hover {
				color: #fff;
				text-decoration: none;
				background: #86BBE6;
			}
		}

		&.active {

			> a,
			> span {
				color: #fff;
				text-decoration: none;
				background: #86BBE6;
			}

		}
	}

	@media (min-width: $screen-md-min) {
		text-align: center;
	}
}