table {
	border-collapse: collapse;
}

.table {
	width: 100%;
	font-size: 1.2rem;
	line-height: 1.8rem;
	margin-bottom: 20px;

	th {
		color: #fff;
		font-weight: 700;
		padding: 15px 10px;
		text-align: center;
		background: #3981BB;
		border-left: 1px solid #86BBE6;
		border-right: 1px solid #86BBE6;
	}

	td {
		color: #053760;
		background: #fff;

		padding: 15px 10px;
		border-left: 1px solid #86BBE6;
		border-right: 1px solid #86BBE6;
	}

	tr {

		&:nth-child(even) {

			td {
				background: #E3EDF5;
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		font-size: 1.4rem;
		line-height: 1.8rem;
		margin-bottom: 40px;
	}

	@media (min-width: 1440px) {

	}

	@media (min-width: $screen-xxl-min) {
		font-size: 1.6rem;
		line-height: 1.6rem;
	}

	@media (min-width: $screen-extra-min) {
		font-size: 1.8rem;
		line-height: 2.4rem;
	}
}

.table_responsive {
	margin-bottom: 20px;

	@media (min-width: $screen-xl-min) {
		margin-bottom: 40px;
	}
}


@media (max-width: $screen-sm-max) {

	.table_responsive {
		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		.table {
			min-width: 600px;
			margin-bottom: 0 !important;
		}
	}
}

.table_header {
	padding-top: 15px;
	text-align: center;
	margin-bottom: 20px;

	span {
		display: block;
		margin-bottom: 10px;
	}

	strong {
		display: block;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 20px;
	}


	@media (min-width: $screen-xxl-min) {
		padding-top: 30px;
	}
}